[2014-09-25 19:46] shaun-edwards opened #2 "Consider removing process modifier from classes/filenames"
The current structures within Descartes are all prefixed with `process`.  However, the data types do not include any process data.

I'd like to propose that the `process` modifier be removed from the data types and file names and replaced with more generic types such as `waypoint` and `trajectory`.  Higher level classes will certainly contain process data, at which point, the prefix would seem mor

[2014-09-25 19:47] shaun-edwards commented on #2
@dpsolomon, please weigh in.  I'd like to make this change soon.

[2014-09-25 19:58] shaun-edwards opened #3 "Waypoints must support joint/cart types"
The current waypoint types are specific to Cartesian waypoints.  While the majority of a path is expected to be this type, joint waypoints, and other cooler waypoints we don't even know about, should be supported.  To support both joint and Cartesian waypoints, a common base class/interface is proposed.  Specific joint and Cartesian implementations will be created, while still allowing for new, cu

[2014-09-25 21:29] shaun-edwards opened #4 "Position/orientation nominal values"
The  process point/waypoint structure doesn't capture nominal values.  A waypoint will likely have a desired value, with some error bound or tolerance.  When at all possible, the nominal value should be held.  The tolerance zone should only be used when the process requires/allows for it.

[2014-09-25 21:29] shaun-edwards commented on #4
@dpsolomon, please comment.

[2014-09-26 02:38] dpsolomon commented on #2
+1 I agree that process_\* is no longer appropriate

[2014-09-26 02:40] dpsolomon commented on #3
+1 I will take a look at this and maybe make a first pass. If someone else does it first, that would be fine as well.

[2014-09-26 02:44] dpsolomon commented on #4
-1 each waypoint contains a set of frames and toleranced frames (inherits from frames). A frame is mostly just an affine - that is the default pose if the point.

I will write up the thought I had behind this layout in the readme, I think it will be clearer how it might work then.

[2014-09-29 03:38] dpsolomon commented on #3
This structure is not developed enough to either limit or promote this idea, but I have one option. The ProcessPt (or WayPoint as it may become in the near future) holds information about the different frames the robot cares about.  We could/should also add a vector of joint positions that satisfy the listed frames, and a function pointer to a "sampler" for that point.  The call to the sampler sho

[2014-09-29 03:40] dpsolomon commented on #3
Another thought as I submit the last comment:
The ProcessPt was meant to be independant of the robot that is executing the task. There should be another layer that asembles the graph of solutions, and that is probably the appropriate place for a fixed joint point. Perhaps the fixed joint point is a derived class of the ProcessPt?

[2014-09-30 03:02] shaun-edwards commented on #3
I found something in openrave that could be just what we are looking for (too bad the website is down).

The openrave [trajectory](https://github.com/rdiankov/openrave/blob/master/include/openrave/trajectory.h) contains waypoints in the form of [configurations](https://github.com/rdiankov/openrave/blob/master/include/openrave/openrave.h#L941).  Configurations contain [groups](https://github.com/rd

[2014-10-03 14:42] dpsolomon commented on #3
So I started implementing this as follows:
- TrajectoryPtBase
- TrajectoryPtBase <- TrajectoryPtFixedPose
- TrajectoryPtBase <- TrajectoryPtFixedPose <- TrajectoryPtFixedJoint
- TrajectoryPtBase <- TrajectoryPtVariablePose

While this would allow us to build many different classes, it complicates the interface unnecessarily. Now I think we should just do:
- TrajectoryPt
- TrajectoryPt <- Trajector

[2014-10-03 14:58] shaun-edwards commented on #3
Here were my thoughts (slightly biased by my coding style)
- TrajectoryPtBase
  - Methods
    - bool getCartPose(RobotState, c_pose) ->returns c_pose:Cartesian pose (checks for reach-ability)
    - bool getJointPose(RobotState, j_pose)->returns j_pose: Joint pose (checks for joint limits)
    - bool getJointPoses(RobotState, j_poses)->return j_pose: _all_ Joint poses
    - bool isReachable(RobotSt

[2014-10-03 16:26] dpsolomon commented on #3
That's fine. I was torn over whether to embed these methods in the pt class
or in a separate sampler object, but I like how this works.

I'll incorporate this and we can flush out the changes as they become more
obvious. For instance, when we sample a pose and get a joint position, do
we also map that to an exact Cartesian  pose, or do we let an external
RobotState take care of that?

Also, I woul

[2014-10-03 19:53] shaun-edwards commented on #3
I was only considering a nominal Cartesian waypoint (i.e. getPointPoses would return _all_ joint poses at the nominal value - capturing different arm configs/redundant axes).  I'll have to think more about this.

Can you commit the shell of what you are thinking.  We need the call types to do some parallel development on the GUI/graph planner.

I also have some time to commit to this, so feel free

[2014-10-05 02:33] dpsolomon commented on #3
As I implement this, I like it more. I should have at least the shell by
tomorrow night.
On Oct 3, 2014 3:53 PM, "Shaun Edwards" notifications@github.com wrote:

[2014-10-05 03:32] #2 closed, assigned to nobody

[2014-10-06 07:01] gavanderhoorn commented on #3
This may be slightly off-topic (for this issue), but for someone who is on the outside of this project, it is unclear whether any existing libraries / platforms were considered. @shaun-edwards mentions OpenRave a few comments earlier: if other libraries were considered, would it be an idea to capture that somewhere?
I kind of like the idea behind MoveIt fi (not necessarily the implementation): usi

[2014-10-06 22:07] shaun-edwards commented on #3
We have looked into other platforms and haven't found anything that directly replicates the functionality we need.  The OpenRave library was the closest thing yet.  MoveIt does have a similar capability, [computeCartesianPath](http://moveit.ros.org/doxygen/classmoveit_1_1planning__interface_1_1MoveGroup.html#ada4a156dc93edc921f15742394475c60), but this does not take into account tolerance zones or

[2014-10-07 13:20] dpsolomon commented on #3
I have my current progress pushed to https://github.com/dpsolomon/descartes/tree/issue%233_trajpt_base_class. I have most of the pure virtual functions actually implemented yet, nd some of them aren't even very clear how they should work across different classes.  I have tried to put class-specific documentation on each of the specific functions, so please read those and comment.

Let me know if y

[2014-10-07 16:23] shaun-edwards commented on #3
This looks like a good start...there are a couple of items for discussion, but nothing major.  Let's do a PR so we can hash these things out.

[2014-10-14 16:03] jrgnicho opened #8 "moveit::core::RobotState dependency"
This is the issue related to the discussion started in PR #6; in order to avoid repeating myself below I'm pasting the comment I made regarding this issue:

Another suggested solution by @shaun-edwards is to implement a RobotModel interface class that will be used as input for the TrajectoryPt interface methods instead of the moveit::core::RobotState as it is the case now.  This interface could th

[2014-10-18 16:26] shaun-edwards opened #9 "Parameter ordering"
The function/method parameter ordering does not conform to the ROS style [guide](http://google-styleguide.googlecode.com/svn/trunk/cppguide.html#Function_Parameter_Ordering).  According to the guide, the parameters must be inputs first, outputs last.  Inputs should be passed as const references/points and outputs as non-const.

Affected files:
- [x] trajectory_pt.h
- [x] cart_trajectory_pt.h
- [x]

[2014-10-18 16:33] shaun-edwards opened #10 "Trajectory point transitions"
The `trajectory_pt` object contains a transition pointer.  To simplify things, I propose to remove the transition pointer and replace it with velocity and timing tolerances AT the trajectory point (acceleration could be added later).  These are somewhat redundant since all are dependent on the profile used between points.  To avoid this ambiguity/confusion, the profiles can be assumed to be well b

[2014-10-18 16:43] jrgnicho commented on #9
Good point on the argument arrangement.  One thing to keep in mind is that passing the RobotState object as a const argument limits the methods that can be called since not all of them have the "const" keyword at the end of each method signature.  If we end up implementing our own Robot Model interface, we should make sure that the "const" attribute is adequately applied where needed.

[2014-10-18 19:46] shaun-edwards opened #12 "Descartes package naming"
Currently, all source/include files are include in the `descartes_trajectory_planning` package.  I would like to propose a new package hierarchy to minimize dependencies and keep things better organized.
- descartes (repo)
  - descartes_core - All abstract and generalize-able classes, common utilities.  Basic implementations can be stored here until interfaces become defined (I'm thinking about th

[2014-10-18 19:46] shaun-edwards commented on #12
@jrgnicho & @dpsolomon, care to comment

[2014-10-18 19:53] #9 closed, assigned to nobody

[2014-10-18 19:53] #8 closed, assigned to nobody

[2014-10-18 19:54] #3 closed, assigned to nobody

[2014-10-18 19:58] jrgnicho commented on #12
Agreed, It's very likely that we'll have to rely on some parts of moveit at some point, thus separating the interfaces from the possible moveit dependent specializations is good forward thinking.  This will be specially useful if we end up having to implement a RobotModel subclass as a wrapper to moveit RobotState. I've already started working with the descartes types so we should address this ren

[2014-10-26 04:32] shaun-edwards opened #16 "Won't run on 32bit systems"
This library uses Eigen which has known issues on 32bit systems.  These issues can be addressed by compiler switches, but these are not present.

[2014-10-26 04:33] shaun-edwards commented on #16
Not sure this will ever be addressed, but I wanted to capture this limitation in case anyone tries it.

[2014-10-27 18:23] shaun-edwards opened #17 "Moveit State Adapter Uses Inefficient IK Search"
A simple IK search was implemented in PR #14.  The search is a slow implementation leveraging the existing IK functionality in moveit.  A better/faster search implementation will be needed, since this method is called multiple times in the building of the planning graph.

[2014-10-28 18:40] shaun-edwards opened #18 "Sampling should be extracted from base trajectory types"
This issue is a result of discussions for PR #13 & #15.

At a high level a `trajectory_pt` should be independent of `solvers` and `samplers`.  Two key parts of the discussion are copied here for context:

@shaun-edwards

@dpsolomon

[2014-10-28 19:30] dpsolomon commented on #18
+1 for getting back on solid footing

[2014-10-28 19:50] shaun-edwards commented on #18
@dpsolomon, a couple of questions
1. Is argument `n` the iteration number or the number of samples to return?  If it's not the iteration number, then I assume `sampler` will track it's own state.
2. What about sampling in cartesian/orientation space?  We will need to sample for cartesian points, although in this case, I am assuming that `getAllIK` will wrap a direct call to `ikfast` which will ret

[2014-10-28 20:09] dpsolomon commented on #18
It is number of samples, and 0 means get all samples. ~~We might want to pass in discretization as well.~~ It will have to track its own state, but I don't expect it to keep track of previous samples. I would like the sampler to be (slightly) clever and be able to track multiple TrajectoryPts. Then we can wholesale change the discretization, or even the sample type for many/all points by reassigni

[2014-10-30 01:12] shaun-edwards commented on #12
Fixed in #19

[2014-10-30 01:12] #12 closed, assigned to nobody

[2014-10-30 03:02] shaun-edwards opened #20 "Trajectory point ID not implemented"
Trajectory point IDs are not currently populated on construction.  The IDs shall uniquely identify a point.  This means they can be used as keys to a map and to link other data/object to trajectory points.

[2014-10-30 03:03] shaun-edwards commented on #20
The current plan is to utilized [boost::uuids](http://www.boost.org/doc/libs/1_48_0/libs/uuid/uuid.html#Nil).

[2014-10-30 03:07] shaun-edwards opened #21 "Trajectory point velocity/timing not implemented"
A key requirement of trajectory following is that the robot maintain a path velocity.  The path velocity and timing must be captured in the based data types.  In addition, when/where this data is populated still is TBD.  This data will also be used to determine if adjacent joint nodes in the planning graph are connected.  If the joint velocity required to move between joint points is too high, the

[2014-10-30 03:08] shaun-edwards commented on #18
@dpsolomon, can you take up this issue.  It's not on the critical path (we can "hard-code" the sampling for near term needs).

[2014-10-31 20:04] shaun-edwards opened #23 "Moveit State Adapter requires tool/object frames"
The constructor for the `MoveitStateAdapter` requires the robot tool and object frames (i.e. strings) be identified.  See [here](https://github.com/ros-industrial-consortium/descartes/blob/hydro-devel/descartes_moveit/src/moveit_state_adapter.cpp#L31).

@dpsolomon commented the following:

The purpose of this issue is to continue the discussion.

[2014-10-31 20:10] shaun-edwards commented on #23
@dpsolomon, can you elaborate on this?

I think you mean that the `trajectory_pt` already contains the base/tool offset frames.  However, the robot may also contain some additional offsets.  In particular (and if you can solve this problem, then it's a non-issue), we have a robot with a calibrated tool point.  The position of the calibrated frame is NOT stored in the URDF, rather it is published b

[2014-10-31 20:10] shaun-edwards commented on #23
This issue is a result of PR #14.

[2014-10-31 20:12] shaun-edwards opened #24 "Moveit State Adapter frame checks are incorrect."
The current branch hydro-devel shows that the wobj_base_ is checked against the last element of the link names array "back()" . Should it be compared against the robot base instead or the first element in the link names array "front()"?

See [here](https://github.com/ros-industrial-consortium/descartes/blob/hydro-devel/descartes_moveit/src/moveit_state_adapter.cpp#L31) and PR #14.

[2014-11-01 11:29] dpsolomon commented on #20
+2 If we can use unique ID's, then I think the samplers can hold a state for each TrajectoryPt they are associated with (#18)

[2014-11-01 11:50] dpsolomon commented on #23
This is a perfect example why the `TrajectoryPt` should hold its own transforms. If you know your tool transform externally relative to a known robot frame (ie wrist) then you can create all the `TrajectoryPts` using this tool transform as the `tool_base` frame. In this case I believe in this case the tool is static, so the `tool_pt` frame would be Identity with 0 tolerance.

Similarly, if you alr

[2014-11-02 01:18] shaun-edwards commented on #20
Done...see PR #18

[2014-11-02 01:18] #20 closed, assigned to shaun-edwards

[2014-11-02 01:33] shaun-edwards commented on #23
My thought is that trajectory points should be independent of the robot.  I should be able to share the same trajectory between two robots without changing them.  As it currently stands, both use cases are supported.  All I have to do is add a new constructor to `MoveitStateAdapter` that doesn't require the frame ids.

[2014-11-03 16:25] shaun-edwards commented on #24
Fixed in PR #26

[2014-11-03 16:25] #24 closed, assigned to shaun-edwards

[2014-11-05 19:05] jrgnicho opened #27 "Clone method for Trajectory point that generates new id"
The current approach for initializing a trajectory point with the data of another point is to use the default copy constructor.  This operation copies every member into the new object including the id.  Thus, in order to prevent issues with duplicate ids a clone method should be provided.  Then, the cloned point will be initialized to the same data as the originating point but will be assigned a n

[2014-11-11 02:47] shaun-edwards opened #31 "console_bridge logging methods cause logging overhead"
The `console_bridge` methods like `logInform` and `logDebug` do not support streams.  As a result, some additional code is required when a stream is desired (mostly due to convenience and ease of use).

For example, the following [snippet](https://github.com/ros-industrial-consortium/descartes/blob/hydro-devel/descartes_moveit/src/moveit_state_adapter.cpp#L106-L108)

This code requires constructin

[2014-11-11 02:48] shaun-edwards commented on #31
@dpsolomon, what do you think?  If we choose not to link against ROS, a simple macro header could replace the ROS macros.

[2014-11-11 04:10] dpsolomon commented on #31
- if you want to stay independent from ros for as long as possible, I think
  it is best to implement `class.toStr()` methods for new data types, and
  `toStr(class)` methods for existing types. This would allow you to keep the
  function as a log\* one liner, and will prevent most of the needless
  overhead.
- `ros_comm` is a pretty lightweight dependency to carry. Possibly even
  worthwhile usin

[2014-11-11 15:24] shaun-edwards opened #32 "Equality comparison operators missing for TrajectoryPt types"
Cartesian and Joint trajectory point types do not define equality.  This makes testing difficult.  Testing equality of these types is non-trivial given their complexity and class hieararchy.  See [here](http://stackoverflow.com/questions/1691007/whats-the-right-way-to-overload-operator-for-a-class-hierarchy) for an example implementation.  Note, it does appear that most approaches for implementing

[2014-11-13 19:21] jrgnicho opened #34 "Trajectory container class"
A GUI friendly class for holding an array of trajectory points should have an interface similar to the ViaPointContainter class in the amos repo [here](https://github.com/swri-robotics/amos/blob/issue_%2330_integrate_descartes_path_planner/ubuntu/amos_plugins/include/amos_plugins/via_points/via_point.h)

[2014-11-13 22:15] shaun-edwards commented on #31
OK, so the conclusion is to use ros console for logging.  The current calls to `console_bridge` can remain, but should be removed if someone touches that section of code.

[2014-11-13 22:15] #31 closed, assigned to nobody

[2014-11-13 22:15] #27 closed, assigned to nobody

[2014-11-13 22:17] #4 closed, assigned to nobody

[2014-11-17 19:15] psturgeon commented on #31
I realize this is closed, but wanted to share an oddity I just ran across today (and as a result, a vote for ros console).

boost::uuids do not behave well as the first parameter in a log through console bridge (at times). Minimal example:
    TrajectoryPt::ID nilId = generate_nil();
    logInform("count %d CartID: %s:", 42, boost::uuids::to_string(nilId).c_str());
    logInform("CartID: %s: count

[2014-11-24 16:08] jrgnicho commented on #34
No longer needed. @shaun-edwards  can this be closed?

[2014-11-24 20:29] #34 closed, assigned to nobody

[2014-11-30 02:30] shaun-edwards opened #37 "Graph planning algorithm is slow when solving for large number (1000's) of points"
The current (working) graph search algorithm is slow when a trajectory with 1000's of points is desired.  Such trajectories could be common, especially when trying to control positions with high accuracy or when performing linear motion with a manipulator.  Preliminary tests indicate that graph construction is the expensive(time) operation.

For example, assume the following: 1000 Cartesian trajec

[2014-11-30 03:09] shaun-edwards commented on #37
I propose an adaptive trajectory sampling that starts with a sparse set of trajectory points and interpolates between sparse points, while still maintaining the dense trajectory constraints.  If any dense trajectory constraint is not achievable given the sparse plan, the unachievable point is added to the trajectory and resolved.

Here is the algorithm in pseudo-code

[code]

Under a best case sce

[2014-11-30 03:10] shaun-edwards commented on #37
@psturgeon, @dpsolomon - Please feel free to comment on my proposed solution or add your own.

[2014-11-30 14:43] ClayFlannigan commented on #37
I worry about the idea of creating a complete graph when, intuitively, most common problems we see have direct solutions; it feels very wasteful to fully populate all those states when the solution could be guided by a simple sampling or heuristic on the state space.  Thus, I like your idea of being "adaptive" and refining the solution iteratively.  Because our problems are mostly convex, I think

[2014-12-01 05:14] shaun-edwards commented on #37
@ClayFlannigan, thanks for the discussion.  @dpsolomon  and I took a look at A\* a while back.  At that time, we only considered fully constrained Cartesian paths (i.e. full 6DOF).  It's not exactly what we are discussing here, but it may help to illustrate a few points.

A brute force approach (i.e. populating the whole graph results in the following number of IK calls):

`1000 Cart pts * 10 IK s

[2014-12-01 06:04] isucan commented on #37
I think multiple levels of resolution as @shaun-edwards suggests is a good idea and definitely more efficient. However, this may preclude finding some solutions: If a solution is not available at the coarser level, it may still be the case the solution is available at the finer grained level.

About @ClayFlannigan 's suggestion: I was going to suggest the same. A\* in boost can work on implicit gr

[2014-12-01 14:46] dpsolomon commented on #37
+1. I have always been a fan of an adaptive sampling technique, even when we didn't know if we would need it.

Remember that this all depends on what you are trying to solve. If you are looking for the first acceptable path, then you can save a lot of time by only sampling until you satisfy the path constraints.
If you want the optimal solution, full graph expansion seems like a valid approach, wi

[2014-12-03 21:44] jrgnicho opened #38 "Failure to find valid solutions for sampled cartesian points"
Valid solutions for the sampled cartesian points can not be produced.

[2014-12-11 20:10] jrgnicho commented on #38
@shaun-edwards  can this be closed?

[2014-12-11 20:12] jrgnicho opened #41 "PlanningGraph destructor cause crashs"
The destructor of the PlanningGraph may attempt to delete an unassigned non null pointer if no points were ever added to the planner.

[2014-12-11 22:11] shaun-edwards commented on #38
@jrgnicho - please try to include the short description of the PR.  Then the issues will automatically close.

[2014-12-11 22:11] #38 closed, assigned to jrgnicho

[2014-12-15 17:07] jrgnicho commented on #41
Addressed by PR #42

[2014-12-15 17:07] #41 closed, assigned to nobody

[2014-12-18 21:16] jrgnicho opened #43 "Closest Joint Pose Implementation"
The CartTrajectoryPt::getClosestJointPose(...) methods needs to be implemented in order to address the sparse planner implementation discussed in issue #37.

[2015-01-13 04:00] jrgnicho opened #46 "descartes robot model as plugin"
In order to use RobotModel implementations in a generalized way then each Implementation should be made into a plugin that can be loaded at run time.  Currently this won't be possible due to a limitation that prevents libraries containing the plugins from being loaded dynamically if they are also linked statically.  The descartes_core package where the RobotModel interface resides suffers from thi

[2015-01-19 02:45] jrgnicho commented on #46
I propose to divide the descartes packages in the following manner:
- descartes_core: Only interfaces such as:
  a. TrajectoryPt
  b. RobotModel
  c. PlannerInterfaces (not yet defined)
  d. Any future interfaces that may be needed.
- descates_trajectory: Existing TrajectoryPt implementations. These include
  a. CartesiantrajectoryPt
  b. JointTrajectoryPt
  c. AxialSymetricPt (not in descartes)

[2015-01-23 20:28] jrgnicho commented on #32
@shaun-edwards has this been addressed.  If not, is it still needed?

[2015-01-23 20:40] jrgnicho commented on #43
Current implementation in #44 only works for simple cases.  A more generalized implementation (perhaps quaternion based approach) is needed

[2015-01-23 21:30] jrgnicho opened #48 "Improvement to handle large joint changes"
Paths returned by the graph planner sometimes contain large joint changes between consecutive points

[2015-01-23 22:14] shaun-edwards commented on #32
It is still needed for testing purposes.

[2015-01-23 22:29] shaun-edwards commented on #48
The planners should check if the joint changes are possible.  That is whether the robot is physically capable of making such a jump.  Since we are planning for trajectory points (i.e. points with timing data), this should be possible.  Unfortunately, it is more complex than it appears.  Whether a point is physically reachable depends upon the joint velocities at the current point (which is not kno

[2015-02-06 20:30] jrgnicho opened #50 "Robot Model Collision Detection"
The MoveitStateAdapter does not perform any collision checking. This capability needs to be implemented so that only IK and FK collision free solutions are returned.

[2015-02-06 20:44] jrgnicho opened #51 "Interpolator Class"
The current descartes planner (PlanningGraph, SparsePlanner) only operate on dense trajectories.  Thus an Interpolator would produce intermediate points between the sparse waypoints and then pass the interpolated dense trajectory to a planner.  In addition, it should allow for several interpolation strategies (cartesian, joint, etc) and tolerances (waypoint zone) for each waypoint.

[2015-02-06 21:28] jrgnicho opened #52 "Moveit GetCartesianPath Service"
Create a node that services the [moveit_msgs::GetCartesianPath](http://docs.ros.org/api/moveit_msgs/html/srv/GetCartesianPath.html) and uses a descartes path planner

[2015-02-09 04:24] shaun-edwards commented on #51
@jrgnicho, we need more detail on this one.  I'd like to point a few people to this bug, but there needs to be more details.  What's the input?  What's the output?  What data structures are envisioned?  Can we point to existing robot languages as an example?

[2015-02-09 04:26] shaun-edwards commented on #37
Closing this out.  The `SparseTrajectoryPlanner` implements the ideas discussed here.  There are still some improvements to be made to plan under all types of constraints, but in general the planner works.

[2015-02-09 04:26] #37 closed, assigned to nobody

[2015-02-09 04:29] shaun-edwards commented on #10
These should probably be removed from the dense trajectory points.  Transitions will be handled in sparse trajectories.  See #51 for more details.

[2015-02-09 04:39] shaun-edwards opened #53 "Update MoveIt KinematicsBase plugin to include an "getAllIK" method"
The current MoveIt [KinematicsBase](http://docs.ros.org/indigo/api/moveit_core/html/classkinematics_1_1KinematicsBase.html) class does not have a method to return multiple joint solutions for a single Cartesian point.  The Descartes graph style path planners require such a method.  To make use of MoveIt IK solutions in Descartes, we will need to add such a method.

There was some previous [discuss

[2015-02-10 23:02] jrgnicho commented on #23
Should this issue be closed?

[2015-02-12 01:31] Jmeyer1292 opened #55 "Parallelism in planning graph"
The straightforward nature of the core Descartes algorithm contained in planning_graph.cpp lends itself very well to doing parallel computations. For example, the bulk of the computational cost in generating the graph is in calculating IKs where each point is considered on its own. This applies to edge calculations and even searching the graph from multiple starting points.

Descartes could benefi

[2015-02-12 08:57] gavanderhoorn commented on #55
MoveIt has parallelised its planning in the recent release, might be an idea to see how they solved these issues? note: I don't know whether they have thread safe datastructures, so it might've been a non-issue there.

[2015-02-12 16:34] dpsolomon commented on #55
Moveit spent a lot of time making most of the const members thread safe as
part of that effort. I think that's the best way to approach this. The
planning scene diff() function is an interesting approach to "cloning" a
robot state, but may be too complicated to warrant the effort

[2015-02-13 23:09] Jmeyer1292 commented on #55
So in moveit's JointModelGroup class there is a function

const kinematics::KinematicsBaseConstPtr &  getSolverInstance () const

which besides having a wierd function signature provides us with the functionality needed to do forward and inverse kinematics.

http://docs.ros.org/indigo/api/moveit_core/html/classkinematics_1_1KinematicsBase.html

No where does it say it's thread safe explicitly, but

[2015-02-15 00:56] dpsolomon commented on #55
Because the kinematics solvers are offered as plugins, with the idea that
anyone can easily implement and integrate their own, it is understandable
that they do not assume or require that the kinematics solver be
threadsafe. Also, I think it is very hard to write a base class that
enforces thread safety in derived classes.

I agree that at this time it is difficult to parellelize the graph solve,

[2015-02-19 21:37] Jmeyer1292 opened #59 "Const Correctness in the Planner Base Class"
I propose that all of the get\* methods in "path_planner_base.h" be marked const. I think it is reasonable for users to expect that retrieving a plan not change the state of the graph for subsiquent requests and be able to use const correctness in their own code.

Specifically, the following methods should be changed:
virtual void getConfig(PlannerConfig& config) const = 0;
  virtual bool getPath(

[2015-02-23 05:11] Jmeyer1292 commented on #48
I have found some limited success in changing the way sampling works. Instead of calling robot_state's getRandomPositions() function, I call getRandomPositions(jointgroup*, RandomNumberGenerator).

Right now I'm creating a new random generator for every call to getAllIK and seeding it with a fixed value. It's not efficient or gauranteed to work, but I find it produces much better paths for what I'

[2015-03-07 05:52] Jmeyer1292 opened #63 "Graph Pruning, Djikstra's Search Problems, and Related Issues"
TLDR: I discovered issues with how pruning and Djikstras_shortest_paths was being used. Optimal path planning, NOT IK calculations, (using aggressive joint delta checks) has speed up by 2000-5000x in my limited testing.

I have been working on making Descartes lately in my work and made some improvements. I discovered a few issues and have developed a fixes for them. I'm making this issue to refer

[2015-03-07 06:02] shaun-edwards commented on #63
I would prefer them separate.  Thanks for taking the time to look into this.

[2015-03-07 12:30] ClayFlannigan commented on #63
Great stuff @Jmeyer1292.

Regarding time parameterization, @shaun-edwards and I were discussing this today.  For most processes, Cartesian velocity will be a process constraint.  In these cases, times should be set by the Cartesian planner and not parameterized.  The potential benefit in terms of graph search is that many edges will be invalid due to joint velocity limits i.e. they can't meet the

[2015-03-07 14:16] Jmeyer1292 commented on #63
@ClayFlannigan I would like to amend my previous statement about time parameterization. I'm throwing words around without understanding them. I am actually relying on the user to specify time deltas between their points (cartesian, joint, etc...) and that is used to do the pruning. I am not fitting time curves to anything just yet.

[2015-03-09 13:13] gavanderhoorn opened #66 "all: pkgs using C++11 features should export their cflags (and check compiler support)"
All pkgs in the `descartes` repository add the `-std=gnu++0x` compiler option somewhere in their `CMakeLists.txt` ([descartes_core](https://github.com/ros-industrial-consortium/descartes/blob/672b9c0907755ef23bfc92905942425cc31e19e0/descartes_core/CMakeLists.txt#L5) fi). Dependant pkgs also need to set this flag, in order to be able to use headers from `descartes` ([godel_path_planning](https://gi

[2015-03-09 13:18] gavanderhoorn commented on #66
Alternatively, the `.cmake` snippet could append the option directly to the `CMAKE_CXX_FLAGS` variable itself, which would avoid the situation where dependants forget to add an `add_definitions(${descartes_core_DEFINITIONS})` line to their `CMakeLists.txt`.

I don't like that too much though, as simply `find_package(..)`-ing the pkgs would then lead to the flags being updated automatically, which

[2015-03-09 14:07] gavanderhoorn opened #67 "core: build script hardcodes cmake build type (set to debug)"
As per title. See [descartes_core/CMakeLists.txt](https://github.com/ros-industrial-consortium/descartes/blob/672b9c0907755ef23bfc92905942425cc31e19e0/descartes_core/CMakeLists.txt#L4).

Not sure if this is _by design_, but it is considered bad practice to set the CMake build type from within a `CMakeLists.txt` file. Recommended is to do it at configuration time (ie: `catkin_make -DCMAKE_BUILD_TYP

[2015-03-09 14:43] shaun-edwards commented on #67
@jrgnicho, this is a high priority fix.  We should also see if this affects `amos`.  @Jmeyer1292, this might have an affect on `godel`.

[2015-03-09 15:05] jrgnicho commented on #66
I'm not too familiar with the use of .cmake snippets for exporting package specific flags, could these flags (- std=gnn++0x in this case)  not be defined and exported from the CMakeList.txt file in the package?

[2015-03-09 15:13] gavanderhoorn commented on #66
I'll submit a PR later.

Re: setting them from the `CMakeLists.txt`: no, since that file is not imported by the dependants. The `CFG_EXTRAS` snippet is automatically imported.

[2015-03-11 07:59] gavanderhoorn commented on #67
Fixed in #68.

[2015-03-11 07:59] #67 closed, assigned to jrgnicho

[2015-03-16 19:12] Jmeyer1292 opened #70 "Inconsistent Arguments to RobotModel initialize method"
This is a minor quibble, but the current RobotModel initialize method takes the robot description string by value instead of by reference. This appears to be a simple typo, but I wanted to check.

https://github.com/ros-industrial-consortium/descartes/blob/hydro-devel/descartes_core/include/descartes_core/robot_model.h#L102

[2015-03-16 23:30] Jmeyer1292 commented on #59
Merged #60. Closing.

[2015-03-16 23:30] #59 closed, assigned to nobody

[2015-03-17 15:51] Jmeyer1292 opened #73 "Cartesian Trajectory Point Unit Test Fails"
The unit test covering the number of discretizations of a given sample space currently fails.

[code]

[2015-03-17 15:54] Jmeyer1292 opened #74 "Documentation / Tutorials / Examples"
To make the planner accessible to others, we need to write some actual documentation on:
1. What problems the planner solves
2. Software architecture
3. A typical Descartes workflow (trajectory creation, planning, to ROS, etc...)
4. Examples for common use cases

[2015-03-17 16:45] Jmeyer1292 commented on #73
The uniform method is correctly discretizing the sample space of the points it is given. The problem is that the CartesianRobot is filtering out points with the isValid(pose) method. This method reconstructs the XYZ rotations of the given pose object but it does not generate the exact same values as were used in the input.

The CartesianRobot tests if the rx, ry, rz values of the  rotation are wit

[2015-03-17 19:40] Jmeyer1292 commented on #16
For the record, I believe defining the following should resolve the issue:

[code]

You may be able to wrap those functions with a compiler test for your 32 bit architecture (such as **i386** for gcc and intel x86).

More details: http://eigen.tuxfamily.org/dox-devel/group__TopicUnalignedArrayAssert.html

[2015-03-21 18:44] #66 closed, assigned to nobody

[2015-03-22 05:45] Jmeyer1292 opened #77 "Slow Data Structures in IK Calculations"
While playing with Descartes to do Cartesian motion through free space, I was generating some cartesian points with several hundred to tens of thousands of joint solutions (using IKFast). I noticed that the IK process was taking a while but the actual joint solutions came available very quickly.

I did some profiling and it seems that a single IK solution takes ~5 microseconds to calculate (using

[2015-03-22 07:18] shaun-edwards commented on #77
Good find...just a couple of questions?
- Is this a problem in general, or just in the case of free space?
- Are the `std::list` and `std::map` insertions for bookkeeping or do those structures store the planning graph operated on by the boost solvers?
- Can you provide a link to the code/section where you think the problem is occurring?

[2015-03-22 07:44] gavanderhoorn commented on #77
As expected.

That is rather a lot. There must either be some significant cache thrashing going on, a profiling error or something else is going on.

@Jmeyer1292: what did you use for profiling? `std::chrono`, or a profiling tool?

[2015-03-22 15:21] Jmeyer1292 commented on #77
@gavanderhoorn I did poor man's profiling with chrono's steady clock, summed up the cost and iterations for a given operation and displayed their average. I'll go back through and run the planning node with cachegrind and see what it says.

@shaun-edwards
1. This is a general problem but it shows up more when you have looser constraints on your trajectory points.
2. PlanningGraph is implemented us

[2015-03-22 15:58] gavanderhoorn commented on #77
If you really want to know what is going on, I suggest using something like [perf](https://perf.wiki.kernel.org/index.php/Main_Page) with a build with debug symbols (ie: `RelWithDebInfo`), or a similar tool. Naively: I see a `new` and two copies. A proper profiler should be able to precisely tell us what is going on there.

[2015-03-22 16:17] Jmeyer1292 commented on #77
Using Valgrind and RelWithDebInfo, it seems that, as usual, I'm wrong. It looks like almost all of the cost is in the UUID generator. Feel free to run tests yourself.
![calls](https://cloud.githubusercontent.com/assets/4960180/6770134/ffb89364-d084-11e4-8d09-33b102c51c12.jpeg)

[2015-03-22 16:47] dpsolomon commented on #77
I would assume that a non-random uuid constructor might be more efficient,
if it uses the clock or some such. Because you're not merging points from
different computers that should be just as unique. Then again, it might not
help that much if the process lock gets called for that one too...

[2015-03-24 14:25] jrgnicho commented on #50
Addressed in #50

[2015-03-24 14:25] #50 closed, assigned to jrgnicho

[2015-03-24 14:27] jrgnicho commented on #70
@Jmeyer1292  can this be closed?

[2015-03-24 18:13] #70 closed, assigned to nobody

[2015-03-25 19:10] Jmeyer1292 opened #78 "Shared pointer usage in Planners"
The current interface (and implementations) for descartes path planners defines an initialize method which takes as an argument a reference to a shared pointer to a const robot model. This implies that the interface might make changes to the shared pointer itself. It also prevents users from initializing a shared pointer to a robot model and then simply passing it into the constructor (as that req

[2015-03-25 20:54] jrgnicho commented on #78
How about passing the robot model by const reference as done [here](https://github.com/ros-industrial-consortium/descartes/blob/hydro-devel/descartes_core/include/descartes_core/trajectory_pt.h#L107)?

[2015-03-25 21:00] Jmeyer1292 commented on #78
The planners take a copy of the robot model pointer. I assume the reason that shared pointers are used in the first place is so that the lifespan of the model is tied to the lifespan of the planner. This change just makes it clear that the planner participates in ownership of the robot model and also allows users to pass shared pointers to their robot model without jumping through hoops.

[2015-03-26 04:13] shaun-edwards commented on #78
Just for some history...the original implementation might have used a raw pointer.  These were all changed to shared pointers in order to remove raw pointers from the public interface.  I wouldn't read too much into ownership implications.  My suggestion is to do what is right.  I would also prefer that this change only deprecate the existing method (this seems easy enough).

[2015-03-26 09:05] madratman commented on #52
I'm new here. Here's an attempt.
https://github.com/madratman/descartes/blob/issue_%2352_moveit_cartesian_path_service/descartes_moveit/src/cartesian_path_service_trial.cpp
Sorry, I didn't see there was a separate branch for the issue already before working on it and hence I haven't used a class. And came to know later that there is a  descartes/descartes_trajectory/src/cartesian_interpolator.cpp

[2015-03-26 15:04] jrgnicho commented on #52
@madratman  Thank you for your contribution, I'll take a look at it soon.

[2015-03-26 17:19] madratman commented on #52
Thanks. Although, I am afraid it isn't useful as of now. One more thing - talking about interpolators, there are many possible ways  -  linear, parabolic and cubic blends, bezier curves, right? Are there any plans to implement them?
Existing/deprecated repos:
[industrial_trajectory_filters](http://wiki.ros.org/action/fullsearch/industrial_trajectory_filters?action=fullsearch&context=180&value=link

[2015-03-26 18:12] madratman opened #81 "Sparse planner test"
[Line 139](https://github.com/ros-industrial-consortium/descartes/blob/hydro-devel/descartes_planner/test/sparse_planner.cpp/#L139)
Shouldn't it be `SparsePlanner`?

[2015-03-26 18:35] Jmeyer1292 commented on #78
This change should not break any existing code.

[2015-03-26 18:35] #78 closed, assigned to nobody

[2015-03-26 18:56] jrgnicho commented on #81
Yes, good catch

[2015-03-26 19:10] jrgnicho commented on #52
I'm currently working on a branch that implements interpolation in cartesian space with blends regions.  Since this is an initial implementation it will only provide limited interpolation options so we'll definitely be looking to incorporate other interpolation options  in the future.

[2015-03-27 20:53] jrgnicho commented on #81
Fixed in #83

[2015-03-27 20:53] #81 closed, assigned to nobody

[2015-03-27 20:59] jrgnicho opened #84 "Incorrect discretization in the CartesianPt getCartesianPoses method"
The discretization of the cartesian poses in the [getCartesianPoses()](https://github.com/ros-industrial-consortium/descartes/blob/hydro-devel/descartes_trajectory/src/cart_trajectory_pt.cpp#L187) method does not take into account the **tool_pt_** and **tool_base_** members when performing this computation.  The correct way is already implemented in the [getJointPoses()](https://github.com/ros-ind

[2015-03-27 22:37] jrgnicho opened #86 "Improvements to the getClosestJointPose method"
In [CartesianPt::getClosestJointPose](https://github.com/ros-industrial-consortium/descartes/blob/hydro-devel/descartes_trajectory/src/cart_trajectory_pt.cpp#L212) ,FK is called with the seed pose and the resulting x,y,z, rx, ry,rz values are check against those in the point to find the closest cartesian pose.   Then IK is called for the closest cartesian pose in order to find the corresponding jo

[2015-03-30 00:12] ClayFlannigan opened #88 "A* Search"
When we first considered using A\* to search the graph, we assumed it would not make much impact due to the fact that at every Cartesian point, we would need to essentially expand all the sampled configuration positions (neighbors in the graph).  But, now that we have implemented a limit on the maximum joint velocity, thereby limiting the maximum difference in joint positions between points, the n

[2015-03-30 14:46] Jmeyer1292 commented on #88
I'm not sure, but I do not believe that A\* will help us much here. The primary reason is the graph we build is very linear. A given cartesian pose is expanded into a bunch of IK solutions (our vertices) and the 'neighbors' of each of those solutions is a set of solutions for the next cartesian pose. We could choose not to create UUID's for IK's that don't have an edge, but users are allowed to mo

[2015-03-30 15:22] ClayFlannigan commented on #88
I guess I am proposing that you wouldn't expand (generate IK, UUID) each sampled Cartesian pose unless it is visited by A*.  Instead, you would only expand the next "nearest" Cartesian poses, where nearest might be defined by the closest pose in x, y, z, i, j, k (at most 12 nodes).

In a 2D Manhattan world, when you expand a new node, there are at most 4 neighbors (+x, -x, +y, -y), but one has alr

[2015-03-31 17:41] shaun-edwards opened #90 "Update Descartes maintainers"
The Descartes maintainers should be updated in each package.xml.

Dan Solomon should be removed (but kept as an author).  Please add @jrgnicho, @shaun-edwards, and @Jmeyer1292.

Maintainers get an email when the build system detects a failure.

[2015-03-31 17:41] shaun-edwards commented on #90
@Jmeyer1292, can you please address as soon as possible.

[2015-03-31 17:44] shaun-edwards opened #91 "Create Descartes meta-package"
The Descartes [wiki page](http://wiki.ros.org/descartes) does not include auto-generated content because a meta-package does not exist.  An example meta-package can be found in [industrial_core](https://github.com/ros-industrial/industrial_core/tree/indigo-devel/industrial_core).

[2015-03-31 17:52] madratman commented on #91
I'll get this done.

[2015-03-31 18:26] shaun-edwards commented on #91
@madratman, thanks for helping out.

[2015-03-31 18:32] madratman commented on #91
Shall I do #90 as well?

[2015-03-31 18:58] shaun-edwards commented on #90
@madratman, @Jmeyer1292 knows the right emails to add (they aren't necessarily github emails).  Thanks for offering though.

[2015-03-31 19:01] madratman commented on #90
Yes, I realized just now it should be jnicho instead of jorge.nicho as I have done in PR#92

[2015-03-31 19:03] #23 closed, assigned to nobody

[2015-03-31 19:20] Jmeyer1292 commented on #90
Addressed in #93. Closing.

[2015-03-31 19:20] #90 closed, assigned to Jmeyer1292

[2015-03-31 19:37] shaun-edwards opened #95 "Path planner tests should be refactored"
The path planner tests need to be improved/refactored:
- The [dense_planner](https://github.com/ros-industrial-consortium/descartes/blob/hydro-devel/descartes_planner/test/dense_planner.cpp) & [sparse_planner](https://github.com/ros-industrial-consortium/descartes/blob/hydro-devel/descartes_planner/test/sparse_planner.cpp) tests have similar code (i.e. multiple definitions of `ThreeDOFRobot`) and

[2015-03-31 19:41] shaun-edwards commented on #95
@madratman, this one is a little complex, but if you are willing you could address this one in pieces (several PRs).

[2015-04-01 03:48] madratman commented on #95
Thanks for this. I'll get my hands on it this week.

[2015-04-03 16:03] Jmeyer1292 commented on #91
Should this be closed?

[2015-04-03 16:03] Jmeyer1292 commented on #77
Should this be closed?

[2015-04-03 18:12] shaun-edwards commented on #77
Fixed in PR #96

[2015-04-03 18:12] #77 closed, assigned to nobody

[2015-04-03 18:13] shaun-edwards commented on #91
Fixed in #92

[2015-04-03 18:13] #91 closed, assigned to nobody

[2015-04-05 21:51] shaun-edwards commented on #95
@madratman, did you have a chance to look at this one?  If you could get a PR in early this week, that would be great.  It doesn't have to be a full fix.  Addressing one or part of the issue would go a long way.  Let me know one way or the other.  Also, let me know if you need any help/direction.

[2015-04-05 21:52] #73 closed, assigned to nobody

[2015-04-05 22:09] shaun-edwards opened #99 "Boost atomic not present in ROS hydro"
The fix in PR #96 introduced a dependency on the `boost::atomic`, see [here](http://www.boost.org/doc/libs/1_57_0/doc/html/atomic.html).  This library doesn't appear to exist in the ROS Hydro boost verions, 1.46.1, see [not here](http://www.boost.org/doc/libs/1_46_1/doc/html/atomic.html).

[2015-04-05 22:10] shaun-edwards commented on #99
@Jmeyer1292, please address ASAP, the build is broken under Hydro, see [here](http://jenkins.ros.org/job/devel-hydro-descartes/)

[2015-04-05 22:12] shaun-edwards opened #100 "Hydro release of descartes-trajectory fails."
See http://jenkins.ros.org/job/ros-hydro-descartes-trajectory_sourcedeb/

[2015-04-06 14:35] Jmeyer1292 commented on #99
Looks like boost atomic became an official part of the library with version 1.53. Before hand it was an extension that one could manually install. There are a few possible solutions:
1. Include all of the boost atomic header files with Descartes
2. Remove the atomic operations and restrict our operation to single threads
3. Use compiler primitives. Both GCC and Clang support a __sync_fetch_and_add

[2015-04-06 14:54] shaun-edwards commented on #99
What about using boost mutex to make it thread safe?
On Mon, Apr 6, 2015 at 9:35 AM Jonathan Meyer notifications@github.com
wrote:

[2015-04-06 15:09] Jmeyer1292 commented on #99
That works as well. I was excited to apply atomics, but I acknowledge that's not always the best justification for a design decision. In theory, atomics should be a few times faster but it probably won't matter to us.

I assume we'll want to keep the branches (indigo and hydro) in sync? I will add a mutex to the generator class.

[2015-04-06 21:14] #74 closed, assigned to nobody

[2015-04-06 22:20] Jmeyer1292 opened #103 "TrajectoryPt cloneTo() method unimplemented"
The base class for TrajectoryPt defines a virtual method cloneTo:

[code]

This method is unimplemented in all of the child classes and it will not do the 'expected' thing. What I believe it will do is 'slice' the 'this' variable and only copy the information that it is aware of in the base class itself.

The fix is probably to create a clone function that returns an entirely new TrajectoryPtPtr w

[2015-04-07 17:56] shaun-edwards commented on #103
@jrgnicho...any ideas?

[2015-04-07 17:59] shaun-edwards commented on #99
Fixed in PR #101

[2015-04-07 17:59] #99 closed, assigned to nobody

[2015-04-07 17:59] jrgnicho commented on #103
I'm on board with requiring each subclass to override the "clone()" method that returns a TrajectoryPtPtr that has been initialized with the an object of that particular class.

[2015-04-09 06:23] Jmeyer1292 commented on #103
#105 addresses this issue

[2015-04-09 06:23] #103 closed, assigned to nobody

[2015-04-09 21:56] Jmeyer1292 opened #110 "Cartesian Point's getClosestJointPose() doesn't account for all transforms"
The getClosestJointPose function of the cartesian trajectory point does FK on a set of joint values and then checks to see if that solution is within the tolerances of the toleranced-frame "wobj_pt_".

Cartesian point, however, specifies 4 possible frames to fully define the position of the robot end-effector and this method only takes into account one of them. If someone specifies the other trans

[2015-04-16 16:36] jrgnicho opened #112 "MoveitStateAdapter getIK does not obey joint limits"
The getIK method does not verify that the joint solution is within the allowed joint limits.

[2015-04-16 16:59] jrgnicho opened #114 "AxialSymetricPt does not properly initialize tolerance frame in CartesianPt parent class"
The AxialSymetricPt constructors assigns the nominal pose data to the wobj_base_member instead of the wobj_pt_ tolerance frame member.  Thus the correct translation and rotation bounds of the point aren't captured within the tolerance frame and they are set to zero instead.  This causes failures when calling the **getClosestJointPose()** method which in turn causes the SparsePlanner to fail at fin

[2015-04-16 18:08] Jmeyer1292 commented on #114
The issue is not with AxiallySymmetricPt. The issue (see #110) is that getClosestJointPose doesn't work with the 4 transforms  that can be specified in Cartesian point. Anyone who specifies more than just wob_pt_ will run into issues.

[2015-04-16 18:35] jrgnicho commented on #114
I agree that the getClosestJointPose() method is incomplete (see issue #43).  The proper solution would require using all transforms and evaluating the rotational bounds in quaternion space in order to avoid dealing with discontinuities inherent in the cartesian space euler angles.

[2015-04-16 18:35] #114 closed, assigned to nobody

[2015-04-20 00:48] shaun-edwards commented on #110
To make this problem tractable, we can assume that only one of the two toleranced frames is every defined as such.  The other toleranced frame will be defined as identify.  This may required re-defining constructors to ensure that this is the case.  While this may limit the general purpose of the CartTrajectoryPt, it's hard to identify a use case where two toleranced frames are required.  The orig

[2015-04-21 16:17] jrgnicho opened #116 "Replace log Message calls with the equivalent ROS_... macros"
The MoveitStateAdapter source still has several of these logStream calls in various places.

[2015-05-06 22:12] jrgnicho opened #122 "Interface remarks from ROS-I training 2015"
During the ROS-I training, some observations were made in regards to the interface.  These are as follows:
- The use of the **Nominal** word on some of the method in the trajectory points  was described as misleading.  The explanation provided was that **Nominal** in descartes is indicative of an original value (whether cartesian or joint pose) that gave rise to a range of values whenever non-zero

[2015-05-11 09:56] bluefish89 opened #123 "Installing descartes"
Hi!
Just want to ask if its possible to add some information about how to install the descartes package either in the wiki or the readme.
I would like to use it, but don't know how to install it.
Best regards

[2015-05-11 12:17] shaun-edwards commented on #123
@jrgnicho, looks like we forgot the most important part?  Can you add this info to the wiki....FYI, Descartes should be available in Hydro using `sudo apt-get install ros-hydro-descartes`.  Let me know if that doesn't work.

[2015-05-11 12:56] bluefish89 commented on #123
For indigo apt-get install is not yet available I think. In my despair I also asked in ros-answers. Here is [link](http://answers.ros.org/question/208963/installing-package-from-source-in-indigo/) with the great answer from gvdhoorn.
Thanks for the help and best regards!

[2015-05-11 16:05] jrgnicho commented on #123
@shaun-edwards , I could not find ros-hydro-descartes as a debian package

[2015-05-11 17:03] gavanderhoorn commented on #123
We're all still waiting for Tully to do a sync of Hydro.

It's installable if you use `ros-shadow-fixed`.

[2015-05-12 14:05] filipmrc opened #124 "descartes with ikfast"
I've been struggling with getting descartes to work with IKfast. The getAllIK function always returns 1 solution which is equal to the start state of the robot.

I think I have narrowed down the problem to the way  the IKfast moveit plugin works, when moveit::core::RobotState calls setFromIK, which then passes it on to ikfast_moveit_plugin::IKFastMoveitPlugin::SearchPositionIK which always picks t

[2015-05-12 15:45] shaun-edwards commented on #124
@jrgnicho, can you respond.

[2015-05-12 16:07] jrgnicho commented on #124
@filipmrc , the behavior you described is consistent with the way that ikfast works.  The seed is ignored by ikfast so regardless of what you pass it will always return the first valid solution.  The ikfast implementation subclasses the kinematics::KinematicsBase interface in moveit, but unfortunately this interface doesn't expose all of the ik solutions even if it finds them (see [here](https://g

[2015-05-12 17:46] filipmrc commented on #124
First of all thank you for your quick reply.

If I understood the code correctly, seeds are random joint states generated when descartes_core::RobotModel is initialized. They are then used as starting points for a solution by the solver. I am currently attempting the workaround you suggested so perhaps I will have more success with that.

[2015-05-12 18:08] jrgnicho commented on #124
Yes, the MoveitStateAdapter (a RobotModel implementation) behaves as you described.  However, it is meant to be used with the KDL kinematics plugin since the kdl numerical approach takes a seed in order to localize the search for a solution.

[2015-05-12 18:24] filipmrc commented on #124
There is just one thing that puzzles me. In my attempts to test descartes with ikfast I realized that all the returned solutions were equal to the current state of the robot simulation I started with moveit demo.launch .

More specifically , when GetAllIK calls GetIK , in moveit_state_adapter.cpp:

if (robot_state_->setFromIK(robot_state_->getJointModelGroup(group_name_),tool_pose,tool_frame_))

A

[2015-05-12 18:44] jrgnicho commented on #124
The robot_state_ member in the MoveitStateAdapter maintains its own internal state separate from the robot model in the running ros system.  Calling **setFromIK(...)** sets the internal state of the **robot_state_** member to a set of joint values that are valid for that cartesian pose of the tool; thus the subsequent call to **getJointModelGroup(...)** retrieves those joint values.  None of these

[2015-05-17 12:31] filipmrc commented on #124
@jrgnicho I have a quick follow-up question regarding the workaround. Did you encounter any problems with pluginlib? More specifically, pluginlib loads the workaround class:

[code]

This returns the initialize function of the MoveitStateAdapter class. On the other hand , rtn->GetAllIK() returns the variant from the workaround class, but the class doesn't receive values from the call and instead g

[2015-05-18 16:17] jrgnicho commented on #124
That RobotModel implemented in that workaround is specific to that robot (the Motoman SIA20d) thus if you are using another robot then this won't work.
Also, make sure that the "robot_description" ros parameter has been initialized with the urdf and srdf data from your robot's moveit config package;  the planning_context.launch file should do this for you.
Can you provide more details about what h

[2015-05-20 20:12] filipmrc commented on #124
I had put in all the right parameters for the code to work, at this time i have managed to make a version that doesn't use pluginlib and it works fine (the workaround robot model class inherits directly from robotmodel and has the functions of moveitstateadapter,except for the GetallIK). Also in the original workaround, when I switched pluginlib with a standard "class factory" (descartes_core::Rob

[2015-06-29 15:04] jrgnicho commented on #124
@filipmrc did you ever get the pluginlib issue resolved? In case you weren't doing this, the instance should be **boost shared_ptr** to the Interface class when using the pluginlib mechanism.  See [here](http://wiki.ros.org/pluginlib#pluginlib.2BAC8-pluginlib_groovy.CA-f2705d99403652682a00e50252a7fd91f1196796_10) for an example of this.

[2015-07-09 19:33] vkhamianok opened #130 "Support of manipulators with more than 1 groups of joints"
The "descartes" library fails in the function:

bool MoveitStateAdapter::isValid(const std::vector<double> &joint_pose) const

 with message:

[code]

when I'm trying to calculate a Forward Kinematics using the function:

[code]

for a manipulator with 2 (or more) groups of joints.

The problem is that active joints in a JointModelGroup named as "group_name_" is just a subset of all manipulators'

[2015-07-09 20:22] Jmeyer1292 commented on #130
Yeah, this has been an issue that has come up a few times but I haven't gotten around to fixing it yet.

The temporary fix is to do the following:

Goto line 324 and 325 of moveit_state_adapter.cpp in descartes_moveit/

Remove the following portion of these lines:

joint_pose.size()

And replace it with the following:

robot_state_->getVariableCount()

So that line 324 should read:

robot_state_->

[2015-07-09 21:06] vkhamianok opened #131 "Initialization error in empty MoveitStateAdapter constructor"
I have the following code:

[code]

Here I invoke no-arguments constructor of the MoveitStateAdapter class and then initialize the instance with appropriate values. But because of missing of world_to_root_ initialization with Eigen::Affine3d::Identity() matrix in no-arguments constructor (such initialization exists in second constructor with arguments), the world_to_root_ has strange value. In my

[2015-07-09 21:24] vkhamianok commented on #130
The specified code:

[code]

doesn't really help.
If I pass more positions values in the const std::vector<double> &joint_pose parameter than the group has, then the first check:

[code]

fails with the message:

[code]

P.S. I've update tail of the initial message with another solution:

[code]

Seems that it works as expected if you pass to the getFK method only current groups' position values .

[2015-07-10 06:11] Jmeyer1292 commented on #130
I apologize, I should have read your message more thoroughly before I responded off-hand like that. I think we need to do some re-imagining of the MoveIt state adapter to facilitate these more complex setups.

Can you share a little more about the robot you're using and what joint groups you've created so that we can effectively test on our end?

[2015-07-10 06:18] Jmeyer1292 commented on #131
+1 There's a lot of cleanup that needs to happen in this class. I will try and get this fixed and probably clean up the class to remove the non-default constructor (we should have one way to work the class correctly).

Thank you for taking the time to make these issues. I will get on this asap, but please feel free to submit PRs in the future if you'd like to. They're welcome.

[2015-07-17 20:18] Manouchehri opened #132 "GitHub Builder"
Since ROS already has Jenkins set up for Descartes, it shouldn't be too hard to add the [GitHub Pull Request Builder Plugin](https://github.com/janinko/ghprb). It'd be useful to make sure that our pull requests are passing.

I could also write a Travis CI script to build Descartes, which would be useful since anyone can opt to enable and build their own forks as well. The downside is that I'd basi

[2015-07-17 21:35] shaun-edwards commented on #132
@Manouchehri, I've never used the Pull Request Builder plugin.  Can you point to other ROS projects that do?  I'm curious to see how it works.  In theory, I'm definitely on board with tools that help verify PRs.

I've seen other projects use Travis CI to build PRs (presumably similar to what you suggest above, but different).  A while back I tried to use Travis for building ROS packages.  I never

[2015-07-17 22:07] Manouchehri commented on #132
@shaun-edwards I don't know of any ROS projects/packages that do that, to be honest I haven't really been following any ROS projects until recently. I've had to deal with the nightmare of proprietary path planners before, so hearing about this project was pretty exciting. This along with ros_control seem extremely useful in keeping things vendor-neutral.

[Here's an example](https://github.com/sia

[2015-08-07 14:54] jrgnicho opened #133 "Sparse planner can't recover from error when planning after adding a point"
This issue has been observed in the sparse planner version in this [project specific repo](https://github.com/swri-robotics/descartes/commit/0b4348cd46ba52983aeb9f8e2bc17bdd0d72fb40).  While the latest SparsePlanner differs significantly from the SparsePlanner version above, the managing of the various internal arrays that hold the points follows the same logic and so it should also suffer this sa

[2015-09-04 08:04] Liangconghui opened #134 "How to specify trajectory points with 6D pose?"
Hi
I am a new user of the ROS-I Descartes package.
I want to specify several points with 6D pose (Position+Orientation).
In the tutorial1.cpp, I  just found out how to specify 3D position by using Eigen:Translation3d (x,y,z) function as shown below.
So my question is: are there any other function in Eigen to specify a 6D pose Cartesian space point?
Thanks!

Conghui

// 1. Define sequence of points

[2015-09-04 14:53] Jmeyer1292 commented on #134
Hey! Welcome to ROS-I. Thanks for giving Descartes a try.

An `Eigen::Affine3d` is a 4x4 homogeneous transformation matrix, so it can encode not just translation but your orientation as well. Please see http://eigen.tuxfamily.org/dox/group__TutorialGeometry.html for a good breakdown of Eigen's geometry capabilities.

There's lots of ways to specify rotations, but you can get at your transforms 3x3

[2015-11-05 07:06] #134 closed, assigned to nobody

[2015-11-05 07:09] shaun-edwards commented on #100
Now fixed.

[2015-11-05 07:09] #100 closed, assigned to nobody

[2015-11-05 07:28] shaun-edwards commented on #43
This issue still continues to be a problem.  Current implementations do not generalize to a fast method for the `CartesianPt` base class.  This is partly due to translation and rotation representation and specifically continuity of representation.  A potential solution to this may be the Dual-Quaternions representation.  See references below:
- http://wscg.zcu.cz/wscg2012/short/a29-full.pdf
- http

[2015-12-02 06:54] Jmeyer1292 opened #136 "SparsePlanner Modifies Input Trajectories"
The existing implementation of `SparsePlanner` modifies the timing constraints of an input trajectory by setting them all to unconstrained. This side effect is neither obvious nor documented and may seriously surprise users.

See [the code](https://github.com/ros-industrial-consortium/descartes/blob/indigo-devel/descartes_planner/src/sparse_planner.cpp#L152).

[2015-12-02 06:58] Jmeyer1292 opened #137 "SparsePlanner Does Not Fail on Unachievable Timing Constraints"
Per unit tests added in #135, SparsePlanner does not fail when joint velocities in robot model are exceeded (and `isValidMove` fails).

[2015-12-02 07:05] Jmeyer1292 opened #138 "SparsePlanner Exceeds Max Planning Attempts"
For trajectories and robot kinematics that can not easily be interpolated, the SparsePlanner may have to sample most or all of the original trajectory. Currently the planner will fail if it has to add more points than half the size of the input trajectory.

This should be changed. The SparsePlanner should add all of the points and return an answer if there is one.

[2015-12-23 03:31] #136 closed, assigned to nobody

[2015-12-23 03:31] #137 closed, assigned to nobody

[2015-12-23 03:31] #138 closed, assigned to nobody

[2015-12-23 03:32] shaun-edwards commented on #132
Closing this issue as Travis CI is now implemented across ROS-Industrial.

[2015-12-23 03:32] #132 closed, assigned to nobody

[2015-12-24 09:12] Manouchehri commented on #132
@shaun-edwards Looks good! Might want to add a [Travis CI build status](https://docs.travis-ci.com/user/status-images/) icon to the `README.md`.

[2016-01-08 22:05] Jmeyer1292 opened #141 "Performance Benchmarks"
In many cases, we are interested in measuring the "performance" of Descartes: That is to say, how "quickly" can we solve various problems that are representative of real-life situations?

To start down this road, I propose that we extend our unit tests to have a benchmark component. More specifically:
1. Add a 6 DOF robot model with and without closed form IK
2. Add a process path representative o

[2016-01-10 10:26] gavanderhoorn commented on #141
Would it perhaps make sense to keep this separate from any unit-tests?

I can see users wanting to run the unit-tests only once (or perhaps never, as it is supposed to be done by the developer(s)), but running benchmarks on different hw for instance, to gauge how much computing power is required to be able to use Descartes for a certain application.

Having to also set up and run all unit-tests se

[2016-01-11 16:29] Jmeyer1292 commented on #141
I think that's a great idea. Shaun suggested something like a `descartes_benchmarks` package that could house our models and code, and I think that would work well.

I still want some kind of performance-based regression test inside our main unit tests. I realize there are some complications related to build-configuration and the hardware you're running on, but I think we can work something out.

[2016-02-18 13:45] gavanderhoorn opened #142 "Inconsistent licensing (at file level)"
Afaik, this project should be `Apache 2` everywhere, but there are files which have no license header at all ([descartes_core/src/trajectory_id.cpp](https://github.com/ros-industrial-consortium/descartes/blob/96eb2d316dc31c68cc7d23b0f7112e2153fa535c/descartes_core/src/trajectory_id.cpp) fi), and there are files with a 'custom' license attached ([descartes_moveit/src/plugin_init.cpp](https://github

[2016-02-18 13:49] gavanderhoorn opened #143 "core: not all licenses mentioned in package manifest"
`descartes_core` only lists `Apache 2` as the license for the package ([here](https://github.com/ros-industrial-consortium/descartes/blob/6d3c38adfd1dcfc39dcb8044f636a2e1ecdeee22/descartes_core/package.xml#L11)), but at least [descartes_core/include/descartes_core/pretty_print.hpp](https://github.com/ros-industrial-consortium/descartes/blob/indigo-devel/descartes_core/include/descartes_core/pretty

[2016-02-18 13:50] gavanderhoorn commented on #143
This may actually be an issue with other packages in `descartes` as well, but I haven't checked.

[2016-02-29 20:11] shaun-edwards opened #146 "ROS Dev build is failing"
The ROS dev build for Descartes is failing: http://build.ros.org/job/Idev__descartes__ubuntu_trusty_amd64/lastBuild/

[2016-03-02 16:47] yishinli opened #147 "Is it possible to lower the IK iterations for each way points?"
[code]

With DensePlanner, it takes 50 IK iterations for each way point.
Is it possible to lower the IK iterations for each way points?

Thanks and Regards.

[2016-03-03 18:57] Jmeyer1292 commented on #147
@yishinli I apologize that I haven't been able to respond to your requestions these last couple of days. We're going through a consortium meeting at the moment. I'll get on the ball after tomorrow is done.

The "10 iterations" portion is unfortunately fixed at the moment. This is a "feature" of the KDL based kinematics that we use by default. You should not see it with an IKFast based solution tha

[2016-03-07 07:10] yishinli commented on #147
@Jmeyer1292 - Thanks for your clarification. After lowering the SAMPLE_ITERATIONS, the iterations did decrease. Then, I noticed the following info:

[code]

I traced into [cart_trajectory_pt.cpp](https://github.com/ros-industrial-consortium/descartes/blob/indigo-devel/descartes_trajectory/src/cart_trajectory_pt.cpp#L214), and learned it is related to the size of wobj_pt_ and tool_pt_. Two question

[2016-03-10 16:11] Jmeyer1292 commented on #147
Hey @yishinli

First the answers to your questions:
1. I think WCS stands for world collision scene, but I'm not sure. At any rate, `wobj_base_` describes the fixed transformation from the origin of the world to the base of the tool.
2. If by `size` you mean the number of poses which we generate for each point, then the appropriate argument to change will be the position and angle discretization v

[2016-03-13 00:41] Jmeyer1292 opened #148 "Lack of Velocity / Acceleration Information in Descartes' Paths"
Per discussion in #144. The output of Descartes planners is a joint path that obeys the timing constraints specified by the user. These timing constraints are used to perform some rough pruning of the trajectory graph, but are otherwise ignored.

In lieu of calculating velocity and acceleration values for each point as part of the planning problem, we could perform velocity parameterization as par

[2016-03-18 23:57] Jmeyer1292 opened #151 "Descartes Planning Spends a Lot of Time Calculating Edges"
It appears that a large portion of the time spent building a planning graph is actually spent looking up joint positions from the joint solutions std::map. I believe we can refactor the `insertGraph` method to reduce this by passing the joint vectors generated during IK expansion directly to the edge builders.

[2016-03-19 00:02] Jmeyer1292 opened #152 ""Vertex" Pruning"
In some cases, a joint position expanded from a user trajectory point may have no incoming edges from the previous point. If that is the case (and it's not in the very first row), then it should be possible to "prune" this vertex from the tree.

What that actually means, I'm not sure. We need to keep context around to enable manipulation of the graph and re-planning. It might just mean we keep a b

[2016-03-19 00:03] shaun-edwards commented on #151
@Jmeyer1292, can you provide the call graph and the details of your test case here.  It would be ideal if you could provide the test code/procedure as well.

[2016-03-19 00:09] Jmeyer1292 opened #153 "Dijkstra's Search from Many Starting Positions"
The boost algorithm used to calculate the shortest path through the graph is a single-source to many target algorithm. As we may have many starting positions, this algorithm is run once for each starting position. I believe this results in a lot of extra work. For graphs with very high connectivity (say angle discretization < 1 degree), this becomes very costly.

A possible approach to avoid dupli

[2016-03-21 16:29] Jmeyer1292 commented on #151
@shaun-edwards

Here's a pretty typical example as produced by Valgrinds' callgrind tool. Note the right-most branch. Far more time is spent building edges than doing IK (at least when using some closed-form equivalent). The `linearWeight` function is doing the actual math but it is less than half of the cost of it's parent. Compiling under `RelWithDebInfo` indicates that this time is spent (mostl

[2016-03-21 16:33] Jmeyer1292 commented on #151
As far as test code/procedure, I've built a little package [here](https://github.com/Jmeyer1292/descartes/tree/benchmarks). It essentially uses the Roscon-2015 demo with some tweaks. It needs some work before it's ready to put into our main-line branch.

[2016-04-12 23:39] Jmeyer1292 opened #158 "Post-Condition Checking"
Currently, Descartes performs all of its validity checking at graph construction time. This means, for example, that collision checking is always performed on every single possible joint position. For many Descartes paths with somewhat fine discretization, this could mean hundreds of thousands of checks.

It _may_ be advantageous to perform these sorts of checks only after the graph has been built

[2016-04-13 02:48] shaun-edwards commented on #158
There seems to be pattern evolving in the Descartes planner that we may want to abstract out.
- Graph construction
  - Vertex generation/filtering
  - Edge generation/filtering
- Graph solving
  - Cost functions
- Solution processing
  - timing constraints
  - validity constraints (maybe just a generalization of timing)

A planner implementation could be an abstract process with different filterin

[2016-04-19 05:13] Jmeyer1292 commented on #153
Addressed in #155

[2016-04-19 05:13] #153 closed, assigned to nobody

[2016-04-19 05:16] Jmeyer1292 commented on #151
#154 at least partially addresses this issue. I'm going to close this issue for the sake of clarity. Further performance questions will be continued in new threads.

[2016-04-19 05:16] #151 closed, assigned to nobody

[2016-04-20 18:34] BrettHemes-3M commented on #124
Have there been any changes with respect to this issue since the last comments?  We are working on getting Descartes running with the Kuka Agilus series of robots and currently are experiencing the single-returned-solution issue when using IKFast.  Is the suggested [workaround](https://github.com/ros-industrial-consortium/godel/tree/hydro-devel/motoman_sia20d_descartes) still the best plan of acti

[2016-04-20 18:36] Jmeyer1292 commented on #124
@BrettHemes With our current interfaces and Indigo, this is (unfortunately) the best plan of action.

[2016-04-20 18:37] gavanderhoorn commented on #124
Mea culpa (partly): I've not yet merged ros-planning/moveit_ikfast#57.

[2016-04-20 18:39] gavanderhoorn commented on #124
off-topic: @BrettHemes: may I ask where you got the Agilus urdf? I've recently added a support pkg for the R900 ([here](https://github.com/ros-industrial/kuka_experimental/tree/kr6_agilus_support)) based on a request I got on ROS Answers. I tried getting some feedback on whether it was all correct, but they never got back to me.

[2016-04-20 18:46] BrettHemes-3M commented on #124
@gavanderhoorn Is it worth waiting for the merge of ros-planning/moveit_ikfast#57 to indigo-devel?

off-topic fyi: We are supporting one internally currently with some discussion underway to possibly make it public (i.e., via _kuka_experimental_ maybe?).  Currently we have _kuka_agilus_support_, _kuka_agilus_moveit_plugins_, and _<kuka_variant>_moveit_config_'s for a subset of the Agilus series.

[2016-04-20 18:48] BrettHemes-3M commented on #124
@gavanderhoorn @Jmeyer1292 If I do proceed implementing the workaround, where would such package(s) live within the ROS/Kuka (meta)package hierarchy?

[2016-04-20 18:50] Jmeyer1292 commented on #124
@BrettHemes We've always made them project-specific packages. There's no official place for these special Descartes models. At least not yet; It could be a good idea to start collecting them.

[2016-04-20 19:11] gavanderhoorn commented on #124
@BrettHemes wrote:

I can't promise I'll be able to merge it this week. You can always take the PR and merge it locally. The rest of the infrastructure should be able to use the newer IKFast plugins afaik (@Jmeyer1292 ?), so it should work. Once the plugin is generated, there are no dependencies on `moveit_ikfast` anymore, so the version an 'end-user' has no influence on its correct functioning.

[2016-04-20 19:27] Jmeyer1292 commented on #124
@BrettHemes @gavanderhoorn Even when/if the changes to MoveIt get merged, I will still have to do some things on my side to make the experience seamless.

I've held off so far, because this whole IKFast thing has been going on for more than a year.

[2016-04-20 19:28] gavanderhoorn commented on #124
Ok. That was the part I was missing.

Do you have any eta for those changes?

[2016-04-20 19:45] Jmeyer1292 commented on #124
Well if you're serious about getting these changes in, then what I'm going to do is make a specialized version of our`MoveItStateAdapter` that overrides a couple of functions and calls the appropriate function in MoveIt's new `KinematicBase`.

I'll make it a priority, but all my Descartes work is free time, so I expect to have it proposed in about a week.

[2016-04-20 20:02] shaun-edwards commented on #124
@Jmeyer1292, we can get this done on project if you have the time.

[2016-04-20 20:55] Jmeyer1292 commented on #124
@shaun-edwards I appreciate it. I'll work on it tonight/tomorrow and if things go smoothly, we can just use that time for review.

[2016-04-20 21:06] gavanderhoorn commented on #124
re: serious: I don't really have an option here: the rest of MoveIt already merged these changes into Indigo, so `moveit_ikfast` is the last missing piece.

[2016-04-20 21:09] Jmeyer1292 commented on #124
@gavanderhoorn Fair enough. I apologize for my abruptness.

[2016-04-20 21:18] jrgnicho commented on #124
The changes in the [moveit_ikfast PR](https://github.com/ros-planning/moveit_ikfast/pull/57) are the same that were heavily reviewed before getting merged into jade-devel so there shouldn't be much reviewing needed.

[2016-04-20 21:39] BrettHemes-3M commented on #124
Thanks for the support guys!  The Descartes plans we are getting so far look promising for our needs and getting this running faster will be critical for testing.

@gavanderhoorn no problem. I will either merge the PR myself or live with KDL until then.

@Jmeyer1292 I look forward to the modifications you proposed!

[2016-04-20 21:47] Jmeyer1292 commented on #124
@BrettHemes I'm glad there's promise. I'll get on the changes as quickly as I can. Let me know of issues as you run into them and we'll at least start working on them.

As a reminder to everyone (and future audiences), the IKFast plugin is as much about correctness as its about speed.

[2016-04-21 07:44] gavanderhoorn commented on #124
@Jmeyer1292 wrote:

No need to apologise.

[2016-04-21 07:46] gavanderhoorn commented on #124
@Levi-Armstrong wrote:

I've always understood that IKFast has an average runtime of microseconds for queries, whereas KDL needs a couple of tens of milliseconds?

[2016-04-21 15:10] Jmeyer1292 commented on #124
@gavanderhoorn While true, an additional benefit of IKFast is that it gives you all of the solutions for that point. We are not currently able to consistently explore every joint configuration for a given pose with KDL. This coverage of the entire solution space is important for getting consistent & minimal plans.

[2016-04-21 15:20] gavanderhoorn commented on #124
Certainly, but something like `trac_ik` is (will) also (be) capable of that. But afaik is quite a bit slower.

[2016-04-21 15:21] shaun-edwards commented on #124
Does `trac_ik` return _all_ the solutions?  It's definitely better than KDL at being consistent, but it only returns the _closest_ joint solution.

[2016-04-21 15:23] gavanderhoorn commented on #124
Doesn't currently do all solutions afaik. @pbeeson had an issue for that iirc.

That depends on how you configure it (see [trac_ik_kinematics_plugin/README.md](https://bitbucket.org/traclabs/trac_ik/src/a94c7e1ee1a30cf2b508f5e6a1f30b324af049bd/trac_ik_kinematics_plugin/README.md?at=master&fileviewer=file-view-default)).

[2016-04-21 15:53] pbeeson commented on #124
If you desire, it can return the first solution found, a single solution that best fits your IK conditions (minimum distance from seed, maximum manipulability) given the set of solutions found within the requested solve time, or that entire set.  In the upcoming release, if collision detection is enabled, only the first value in the set will be guaranteed to be collision free.

[2016-04-21 15:55] gavanderhoorn commented on #124
So 'all solutions' is now implemented?

[2016-04-21 15:59] pbeeson commented on #124
"Multiple solutions found within the allowed IK time."  That set may be large but is not exhaustive.  Like for a 7 DOF arm it may be hundreds of unique solutions, but there could be more.

The current solver formulations have no way to determine when the complete set of solutions has been found.

[2016-04-21 16:03] pbeeson commented on #124
But there is nothing special about how tracik does this.  Any seed based IK solver can be run multiple times with different seeds to get multiple solutions.

[2016-04-21 16:05] shaun-edwards commented on #124
I think this is the key difference.  For 6DOF arms, FastIK returns all the solutions.  This cannot be guaranteed with a numeric solver.  We try the multiple seeds approach with KDL, but I wonder how this will work better/differently with tracIK

[2016-04-21 16:11] pbeeson commented on #124
Shaun, in my experience with ikfast (using a Denso vs68) the solutions are
FAR from within the typical 1e-3 error we want. Take ikfast IK solution,
run through FK, and compare results to original pose. The results are
shockingly bad. Plus ikfast didn't fully obey joint limits. So personally I
don't trust it. For my application, I had to do a final run using
KDL/tracik with the ikfast solution as t

[2016-04-21 16:17] Jmeyer1292 commented on #124
Well that's good to know.

[2016-04-21 16:40] shaun-edwards commented on #124
@pbeeson, do you think a hybrid fastIK/tracIK solution would work well?  Using fastIK to come up with seeds and tracIK to refine the solution?  What kind of performance hit would you predict versus fastIK alone?

[2016-04-21 17:48] pbeeson commented on #124
Minimal.  trac-ik's "Speed" mode, is sub millisecond.

For refining this single solution where you start close to the goal, trac-ik's Non-Linear Optimization thread isn't going to "win out" over its "KDL" thread.   So, if you are going to do this, you can just as well use KDL until your error gets below the threshold you desire.   KDL's performance declines when the gradient descent search has one

[2016-04-22 16:34] pbeeson commented on #124
Additionally @shaun-edwards, I'm not sure IKFast gives you ALL the answers.  For a 6-DOF robot, there could be MANY answers around the same configuration that give a Cartesian pose within acceptable errors.  Just tweak a joint by 0.00001 radians and you have a new answer.   Additionally, you can't let th eEnd Effector have "tolerances" like (don't care about roll, or orientation can be with 15 deg

[2016-04-23 02:18] shaun-edwards commented on #124
@pbeeson, that's fair.  Ignoring tolerances and imperfect math, I would expect a 6DOF robot to still have several solutions in all the different configurations.  For a traditional 6DOF industrial robot, IKFast returns 16 different solutions (this is pretty much what I mean by ALL).

[2016-04-23 12:47] pbeeson commented on #124
Ok.  Under that definitions, trac-IK probably would return "ALL" solutions too given 5ms or so runtime.  Furthermire they would be sorted by you condition to maximize/minimize.  If you tell me an exact URDF and ikfast IK build settings, I can try to run some quick comparisons of solve time versus number of solutions between the two sometime next week.  I could also let you know the error of the ik

[2016-05-16 17:20] BrettHemes-3M opened #163 "Custom cost function capability"
I think adding the ability to specify user-defined custom cost functions for edge-weighting a la Matlab's fminunc/fmincon or other exiting optimization packages would be beneficial over the current method of assuming the L1-norm.  This enhancement would greatly increase the capability of Descartes, allowing for other (weighted) norms that make up metric spaces more appropriate for the robot at han

[2016-05-23 06:07] Jmeyer1292 commented on #131
#160 Addressed this issue. Thanks for bringing it up.

[2016-05-23 06:07] #131 closed, assigned to nobody

[2016-05-23 06:10] Jmeyer1292 commented on #124
The original issue should be addressed by the changes in #160 pending review of the `moveit_ikfast` PR for Indigo.

[2016-06-16 04:51] davetcoleman opened #166 "Auto format code?"
Would you guys be opposed to me running my [ROS-customized clang-formatter](https://github.com/davetcoleman/roscpp_code_format) to this code base? It will enforce ROS standard styles within a second, recursively. I've been reading through the code and am a little frustrated by lines of code that are, for example, 137 characters long. I prefer to have two windows side by side when I code and this o

[2016-06-16 14:23] Jmeyer1292 commented on #166
Go nuts. A lot of the "old code" is a mess in terms of style, convention, and readability. As long as a PR is just non-syntactic text changes, I don't care.

[2016-06-16 18:54] #166 closed, assigned to nobody

[2016-06-27 17:23] BrettHemes-3M commented on #163
Merged #162

[2016-06-27 17:23] #163 closed, assigned to nobody

[2016-06-27 20:29] gavanderhoorn commented on #146
A bit of a 'me too', but since I'm getting the same emails: it's still failing. Anything you need help with to fix this @Jmeyer1292?

Specific error message:

[code]

[2016-06-27 21:13] Jmeyer1292 commented on #146
Gijs,

Sorry about that. I figured I was only torturing Shaun with these e-mails. I've only briefly looked into this build error. I haven't ever been able to reproduce it anywhere but on the ROS build servers (I haven't installed docker, but I tried to follow all of the other build script steps from the error log). If you see what's going on, please let me know.

---

From: G.A. vd. Hoorn notifica

[2016-06-27 21:40] gavanderhoorn commented on #146
All contributors to the `descartes` packages receive those emails. At this point, that includes you, Jorge, Shaun, me, 'ros-industrial@domain.org' (:)), Isaac, Daniel, Ratnesh, P. Sturgeon and Brett.

Looking at the error message, it could be a `build` or `test` depend that is missing when the tests are being compiled. Do you recognise the `moveit_state_adapter_test.cpp` it mentions?

[2016-06-27 22:13] Jmeyer1292 commented on #146
Well that sucks. The file in question is [here](https://github.com/ros-industrial-consortium/descartes/blob/indigo-devel/descartes_moveit/test/moveit_state_adapter_test.cpp). The "missing" header is [here](https://github.com/ros-industrial-consortium/descartes/blob/indigo-devel/descartes_trajectory/test/descartes_trajectory_test/robot_model_test.hpp).

The package with the header attempts to expor

[2016-07-07 01:45] davetcoleman opened #180 "CartTrajectoryPt::uniform() bug"
I believe I've uncovered a bug in the discretization of poses in Descartes. I'm using AxialSymmetricPt and I find that I get basically the same discretization for both the X_AXIS and Z_AXIS options:

X_AXIS
![x_axis](https://cloud.githubusercontent.com/assets/561060/16639905/26b0615e-43b1-11e6-9d47-0c23fb5791e2.png)

Z_AXIS
![z_axis](https://cloud.githubusercontent.com/assets/561060/16639930/59b2f

[2016-07-07 04:03] ClayFlannigan commented on #180
Yup, I think this is not the right way to sample orientations.  Uniform sampling of Euler angles produces 1) non-uniform distributions and 2) suffers from singularities (gimbal lock).  See [here](https://www-preview.ri.cmu.edu/pub_files/pub4/kuffner_james_2004_1/kuffner_james_2004_1.pdf).  Quaternions are the normal solution with [SLERP](https://en.wikipedia.org/wiki/Slerp) interpolation.

[2016-07-07 16:05] shaun-edwards commented on #180
There's been quite a few discussion threads here about sampling euler angles.  In additional to Clay's suggestions, #43 has some other references.  In the case of sampling about a single axis, the current approach should work (`AxialSymmetricPoint` enforces this).  My guess is that the constructor for `AxialSymmetricPoint` isn't working as expected.

[2016-07-10 00:15] Jmeyer1292 opened #181 "Directed Acyclic Graph Search"
As an alternative to Dijkstra's algorithm, we can employ [DAG shortest paths](http://www.geeksforgeeks.org/shortest-path-for-directed-acyclic-graphs/).

It has a time complexity of `O(|V| + |E|)` compared to Dijkstra's `O(|E|*log(|V|))`.

This algorithm requires:
- A directed acyclic graph (which we have)
- The vertices to be sorted into topological order

As it turns out, with our ladder-esque gr

[2016-07-30 18:42] BrettHemes-3M commented on #158
@Jmeyer1292 +1 to implementing this.  I just sent an email to swri-pkg-dev but thought I would comment here as well.  I believe that my applications in particular would greatly benefit from this functionality.  I might have some time to work on this in the coming weeks so I will see what I can do.

@shaun-edwards Shaun, regarding your comment, are there any plans to implement such?  I feel like th

[2016-07-30 18:46] BrettHemes-3M commented on #55
+1

Despite the apparent difficulty, this would be awesome!  It brings a tear to my eye watching the planner run on a nice machine, only to have it use a single core...

I would be willing to help out on this but doubt I could effectively tackle this without at least some direction from you guys.

[2016-08-01 19:12] Jmeyer1292 commented on #55
Hey @BrettHemes, sorry for the slow response, I've been on travel.

I agree with the need to need to do some of this, and it was a real focus of my efforts in my planning graph refactor (#179). While not in there atm, thread-parallization can be achieved with ~ 3 lines of `#pragma` commands using OMP.

I'm not entirely sure where effort is best spent. I really want to transition the library toward

[2016-08-01 19:21] Jmeyer1292 commented on #158
@BrettHemes I have no idea how well this approach will actually work, but I think it's worth giving a shot. I'll try to mock up an implementation and I'll pose it here to discuss. If you have some time and it's important to you, I'd be really appreciative of help.

[2016-08-02 17:00] BrettHemes-3M commented on #55
@Jmeyer1292 Allright, I haven't had time to dig too deep into #179 (yet) but it looks really cool.  I think getting that merged trumps optimizing the current approach if that is indeed the direction Descartes is headed.

That said, I did some runtime analysis and the biggest hit from enabling collision detection is in calculateEdgeWeights (makes sense).  I got a working modification that paralleli

[2016-08-02 17:03] BrettHemes-3M commented on #158
@Jmeyer1292 Yeah, I wouldn't put too much effort into this just yet.  I got a big performance increase with fairly little effort by multi-threading the joint solution computation and subsequent collision detection (see my comments in #55).  I think some more parallelization along with your #179 will be time better spent.

[2016-08-02 18:07] Jmeyer1292 commented on #55
@BrettHemes I'd be interested for sure.

Could you elaborate on the runtime analysis you did? `calculateEdgeWeights` has been the most expensive part of the Descartes search without collision checking, but I _assumed_ that the cost would be shifted into `getJointSolutions()` and `getJointPoses` where the actual checking is being done (as part of `isValid`).

I realize I can run these trials myself

[2016-08-02 21:27] BrettHemes-3M commented on #55
@Jmeyer1292  Yeah on one of my test trajectories (~900 points, orientation tolerances on all three axes, IKFast)
I get the following run time allocation:

**No Collisions (single threaded)**
Joint Solutions:    30s
Edge Weights:     35s
Graph Vertices:     4s
Graph Edges:        6s

**With Collision Detection (single threaded)**
Joint Solutions:   828s
Edge Weights:       28s
Graph Vertices:     3

[2016-08-02 21:28] Jmeyer1292 commented on #55
Oof, those times are brutal.

If I wanted to recreate something similar to your path, what kind of discretization are you using on the angles?

[2016-08-02 21:34] BrettHemes-3M commented on #55
The extra orientation tolerances add crazy overhead.  Really good example of the curse of dimensionality...

[2016-08-03 14:30] BrettHemes-3M commented on #55
Sweet, the edge weight computation worked with little modification and I ended up with the following run time on the same trajectory:

**With Collision Detection (12 threads)**  [parallel joint solutions and edge weights]
Joint Solutions: 140s
Edge Weights: 5s
Graph Vertices: 3s
Graph Edges: 4s

So 6x improvement on the edge weights with 12 cores...  not too bad.  So I think if I get creative with

[2016-08-03 16:06] Jmeyer1292 commented on #55
#179 does a lot to improve the core algorithm in terms of machine-friendliness, and it will use less memory and make edge computations faster. I hope you see close to linear scaling in all of your OMP directives with these changes.

We'll need to look at what we can do to:
- Do less collision checking (lazy checking or maybe some kind of pruning (no incoming edge means no checking right now).
- Im

[2016-08-15 14:26] BrettHemes-3M commented on #55
All right, changes in #182

[2016-09-12 17:04] fred087 opened #183 "Install on Arch Linux"
when installing on Arch Linux, running ROS (indigo), I get that error :
/home/fred/system/ros/descartes/src/descartes/descartes_moveit/src/ikfast_moveit_state_adapter.cpp:83:3: erreur : ‘KinematicsResult’ is not a member of ‘kinematics’

[2016-09-14 21:47] BrettHemes-3M opened #184 "Can't plan more than once"
@shaun-edwards and @Jmeyer1292

I can't seem to get a DensePlanner instance to plan more than once.  On any subsequent calls to planPath, I get errors to the effect of:
`calculateJointSolutions: IK failed for input trajectory point with ID = ID660624`
where the ID is a number much larger than the number of points in my path.

I want to filter the output and then plan again.

Investigating I couldn

[2016-09-15 16:16] Jmeyer1292 commented on #184
I will attempt to test and reproduce the issue. We have re-used planners before (e.g. in the [ROSCON-2015](https://github.com/ros-industrial-consortium/roscon_2015) demo).

The ID thing is not entirely unexpected. These exist at all because some early applications with Descartes were written with the assumption that the points themselves should have ID's. They are also the handle by which graphs w

[2016-09-15 16:19] Jmeyer1292 commented on #183
Hrm. I'll look into it. I may need your help to do some tests and reproduce the issue as I don't have an Arch install. Although, I could probably setup a VM.

[2016-09-15 17:57] BrettHemes-3M commented on #184
Ahh, don't look just yet...

I just think I figured it out.  I am (naively) sending the Cartesian poses from the planned path back as inputs to the planner for the next iteration without regard to their reference frames (i.e., outputs are tool0 poses wrt world frame while the inputs are (should be) tool_pt poses wrt the tool_base frame).

I will fix this and then post my findings.

Sorry Jonathan

[2016-09-15 21:31] BrettHemes-3M commented on #184
Embarrassing...  that was exactly my problem.  I transformed the Descartes-returned path back into the tool's base frame and I can then replan no problem.

I will close the issue; thanks.

[2016-09-15 21:31] #184 closed, assigned to nobody

[2016-09-19 08:37] fred087 commented on #183
I was on default branch indigo-devel when I had the error, I switched to indigo-training and it worked.
Certainly due to the fact the latest moveit-core package on arch is ros-indigo-moveit-core 0.6.15-2

[2016-10-15 09:58] #147 closed, assigned to nobody

[2016-10-20 21:02] davetcoleman commented on #180
I'm pretty sure I solved this problem in my `bolt` implementation of the Descartes planner - its essentially a much more moveit-centric way to create a graph of underconstrained redundant Cartesian poses. The function I wrote to turn tolerances on angles into candidate poses is [here](https://github.com/davetcoleman/bolt/blob/kinetic-devel/bolt_moveit/src/cart_path_planner.cpp#L234). It uses a sim

[2016-10-22 19:53] davetcoleman commented on #53
i believe this issue can now be closed: https://github.com/ros-planning/moveit_core/pull/231/files#diff-a5fd2a2878fc18dd4784fc964898027cR179

[2016-11-25 13:19] JKBehrens opened #185 "model->initialize(robot_description, group_name, world_frame, tcp_frame) segfaults when no robot_description present"
Hey there!

I want to try out descartes, but I am facing some issues. I adapted the tutorial code to work with a KaWaDa Nextage robot. Because I ran into segfault problems, I identified problematic commands by commenting stuff out. Something easy for the beginning...

Only roscore is running.
`rosrun descartes_tutorials tutorial1 `

gives me

`Segmentation fault (core dumped)`

If I started gazebo

[2016-11-25 13:33] JKBehrens opened #186 "Segfault while using planner.planPath(points)"
Continuing the work from this issue: https://github.com/ros-industrial-consortium/descartes/issues/185

when I additionally uncomment from the tutoarial code
[code]
and have gazebo and moveit running (so urdf and srdl are present), I'll get the following error:

[code]

Could you please include useful checks (to prevent segfaults) and issue some error messages to enable better debugging?

BTW: I a

[2016-11-26 01:44] shaun-edwards commented on #186
+1 to this, but I believe the real issue is that MoveIt doesn't report/log errors when things fail.  Checking the validity of pointers that are returned from MoveIt would provide more useful info then a seg fault.

[2016-12-16 07:26] jasonvank opened #188 "Fail to catkin_make descartes pacakge"
I am sorry that I just started to learn the ROS and now want to use the cartesian motion planner for a project. However, I installed the package of descartes, and then catkin_make the package, it will not be compiled successfully. My OS is Linux 14.04 Ubuntu and Indigo. May I request the help how can I solve the problem and then I can continue.

[code]

[2016-12-16 08:11] gavanderhoorn commented on #188
Is [Fail to catkin_make descartes pacakge](http://answers.ros.org/question/250160) also by you? Please don't cross-post in the future.

[2017-01-16 04:07] jasonvank opened #189 "How to change the speed from defined point to another point while using descartes?"
I am using UR10 and Linux 14.04 Indigo. I want to execute a cartesian motion planning. I used the two ways, one is using descartes package and another one is cartesian plan plugin.

I want to ask if it is possible to change the velocity of the robot moving from a defined point to another point, not the whole trajectory. I have already established the velocity limit and acceleration limits.

I have

[2017-01-16 04:18] shaun-edwards commented on #189
I believe "fermi" uses the standard MoveIt cartesian path planning service.  In which case, it tries to execute the cartesian path plan as fast as the joint velocity/acceleration limits will allow.  There may be a way to scale these limits with some of the new additions to MoveIt, but I'm not certain if these changes apply to cartesian path planning.

Descartes allows you to specify the [time (or

[2017-01-18 16:54] #188 closed, assigned to nobody

[2017-01-18 17:34] jasonvank opened #190 "How to avoid the robot collision in descartes"
I am using UR10 and Linux 14.04 Indigo. The purpose of my project is to perform masking. My robot also have the link of a box and a pico. I use the descartes tutorial to implement the [cartesian motion planning.](http://wiki.ros.org/descartes/Tutorials/Getting%20Started%20with%20Descartes)

When I used the motion planning through RViz, it can recognise the collision very well and all the joint is

[2017-01-19 03:27] shaun-edwards commented on #190
Are your boxes in your URDF or are they added to the scene in some other way?

[2017-01-19 03:40] jasonvank commented on #190
Maybe I should rephrase Shaun.

I have included in my URDF the definition of the box and my tool (pico). I used the wizard setup assistant to include all my elements and define the group. Includes all the joints and my tool. I simply followed the tutorial.

This brings me to another question, I would like to learn how to define my TCP to be in the tip of my tool(pico)? That would solve a lot of pr

[2017-01-19 04:07] shaun-edwards commented on #190
Add a frame (without geometry) to your URDF.  When defining the motion group in the wizard, use that new frame as the last link in the kinematic chain.

It's my understanding that Descartes can avoid collisions with items pre-defined in the URDF.  Have you told the robot model used in planning to check for collisions using [this](https://github.com/ros-industrial-consortium/descartes/blob/kinetic-

[2017-01-26 08:11] jasonvank opened #191 "Could not connect to action server"
I am using UR modern drivers to connect to my UR10 robot.

When I run the descartes, it has this error as the picture below.

`[   INFO] [1485417794.536098290]: With 90 - new best score: 8.723923`
`[   INFO] [1485417794.603379840]: score: 8.723923`
`[   INFO] [1485417794.603440975]: FOUND A PATH`
`[   INFO] [1485417794.603440975]: Traj size: 90 list size:90`
`[ERROR] [1485417794.615877032]: Could

[2017-01-26 08:19] gavanderhoorn commented on #191
@jasonvank: could you either:

 1. just copy-paste the error text from your console into your issue, or
 1. if you really have to use an image, attach it directly to the issue (GitHub supports this)

But there is really no need to use a screenshot for something that is essentially text.

[2017-01-26 22:40] shaun-edwards commented on #190
Is this still an issue?  Can this be closed?

[2017-01-27 02:44] #190 closed, assigned to nobody

[2017-01-27 02:52] jasonvank commented on #191
@gavanderhoorn Thanks.

I have managed to solve the issue.

When I run my descartes tutorial on my simulation, the robot moves as expected. However, I am trying to plan using the same solved points but the UR10 robot doesn't move (Yes, there's connection between the robot and ROS as I tried using a plugin planner before to test it). Is there any step I'm missing?  Maybe the joint values are not be

[2017-01-27 10:57] #189 closed, assigned to nobody

[2017-02-01 02:09] #191 closed, assigned to nobody

[2017-02-03 15:42] BrettHemes-3M commented on #124
This can probably be closed now

[2017-02-14 14:51] JeroenDM opened #192 "Set collision checking true"
After finishing [the basic tutorial](http://wiki.ros.org/descartes/Tutorials/Getting%20Started%20with%20Descartes) I wanted to enable collision checking.
In the decartes_moveit docs I found the [isInCollision](http://docs.ros.org/indigo/api/descartes_moveit/html/classdescartes__moveit_1_1MoveitStateAdapter.html#a5d51aa83067d8ff101dccd5323d7b467) boolean, but it seems that the setCollisionCheck() m

[2017-02-17 12:34] JeroenDM commented on #192
I realize that I did make a trivial mistake, as predicted. I tried to call a c++ function using the dot operator. (I started learning ROS using python scripting...) I will use the double colon (::) operator, read more tutorials on virtual objects and pointers (that's where the Ptr comes from!) and then everything should work just fine.

[2017-02-22 11:28] Bart123456 commented on #192
Instead of using the line
`model.setCheckCollisions(true);`
You can use the following line:
`model->setCheckCollisions(true);`

This has to do with the 'model' object being a pointer. I still have to look into the details myself, however.

[2017-03-13 22:32] Jmeyer1292 opened #193 "Extra IK-Fast Solutions"
Descartes more or less requires IK-Fast to work. My understanding of IK-Fast is that it gives you the "unique" solutions that correspond to different robot configurations reaching for the same point.

For many robots, there are 8 solutions returned for a given pose. For the IK-Fast models I've been working with, these 8 solutions have joint values between -PI and PI. If a robot joint can rotate fu

[2017-03-14 15:43] jrgnicho commented on #193
Is this an issue that needs to be addressed in the IK fast solver?

[2017-03-31 00:29] 130s opened #194 "Release into Indigo+"
Looks like we have one released into ROS Hydro, but not Indigo.
Thank you.

[2017-03-31 00:41] 130s commented on #123
I added [install section](http://wiki.ros.org/action/info/descartes/Tutorials/Getting%20Started%20with%20Descartes?action=diff&rev2=34&rev1=33) on the ros wiki. Please feel free to edit it as it's wiki, but this ticket may be closed.

[2017-04-06 22:31] Jmeyer1292 commented on #10
Points no longer have transitions, but timing info instead.

[2017-04-06 22:31] #10 closed, assigned to nobody

[2017-04-06 22:31] #16 closed, assigned to nobody

[2017-04-06 22:35] Jmeyer1292 commented on #21
We now have some basic timing info in the base point type. If further refinements are necessary, we'll open new issues.

[2017-04-06 22:35] #21 closed, assigned to nobody

[2017-04-06 22:38] Jmeyer1292 commented on #32
I feel like this is low value and potentially brittle. We have `copy` and `clone` functions which might fulfill many of the potential use cases of this code. This issue can be reopened if required.

[2017-04-06 22:38] #32 closed, assigned to nobody

[2017-04-06 22:39] Jmeyer1292 commented on #46
This was implemented a long time ago. See #49.

[2017-04-06 22:39] #46 closed, assigned to nobody

[2017-04-06 22:42] Jmeyer1292 commented on #48
The timing constraints nominally take care of this. Now practically there are other concerns. The other, more subtle, issues should be discussed in a separate PR.

[2017-04-06 22:42] #48 closed, assigned to nobody

[2017-04-06 22:45] Jmeyer1292 commented on #51
While useful, I feel that this sort of functionality belongs to a higher level package that wraps descartes as it is now.

[2017-04-06 22:45] #51 closed, assigned to jrgnicho

[2017-04-06 22:52] Jmeyer1292 commented on #52
This integration may eventually be part of a larger integration that depends on this package.

[2017-04-06 22:52] #52 closed, assigned to jrgnicho

[2017-04-06 22:53] #53 closed, assigned to jrgnicho

[2017-04-06 22:54] #63 closed, assigned to nobody

[2017-04-06 22:55] Jmeyer1292 commented on #84
Addresed by #85

[2017-04-06 22:55] #84 closed, assigned to jrgnicho

[2017-04-06 23:05] Jmeyer1292 commented on #95
This issue is at least partially addressed by #135. I will close and open new issues more specific to tracking planner performance and stress testing.

[2017-04-06 23:05] #95 closed, assigned to nobody

[2017-04-06 23:06] Jmeyer1292 commented on #112
This is now checked against the robot model in the descartes_moveit implementation.

[2017-04-06 23:06] #112 closed, assigned to nobody

[2017-04-06 23:08] #124 closed, assigned to nobody

[2017-04-06 23:09] #123 closed, assigned to nobody

[2017-04-06 23:09] #116 closed, assigned to nobody

[2017-04-06 23:10] Jmeyer1292 commented on #130
Nominally addressed by #164

[2017-04-06 23:10] #130 closed, assigned to nobody

[2017-04-06 23:15] #183 closed, assigned to nobody

[2017-05-04 06:40] lkj1114889770 opened #196 "Invalid Trajectory: start point deviates from current robot state"
I use descrtes in moveit. And when i execute a cartesian motion planning follow the descrates tutorial [http://wiki.ros.org/descartes/Tutorials/Getting%20Started%20with%20Descartes](url) , The errors comes in the terminal of running _**ur3_moveit_config demo.launch**_ , the error is:

**Invalid Trajectory: start point deviates from current robot state more than 0.01
joint 'elbow_joint': expected:

[2017-05-05 04:06] Jmeyer1292 commented on #196
@lkj1114889770 I appreciate the report. I am in the process of overhauling the tutorials associated with Descartes, which need a lot of work.

The long and short of it is: Descartes plans only for the trajectory points that you pass into it. What this means is that for a cartesian path like the one in the tutorial, the first position of the trajectory may be a long way away from wherever the robot

[2017-05-05 07:37] lkj1114889770 commented on #196
@Jmeyer1292  Thanks, It works.
According to what you said ,  acquire the current robot state by getting the messeage of sensor_msgs::JointState.

`std::vector<double> getCurrentJointState(const std::string& topic)
{
  sensor_msgs::JointStateConstPtr state = ros::topic::waitForMessage<sensor_msgs::JointState>(topic, ros::Duration(0.0));
  if (!state) throw std::runtime_error("Joint state message ca

[2017-05-09 09:47] JeroenDM commented on #158
@Jmeyer1292 One disadvantage of performing validity checking after graph construction is that the graph becomes bigger and will take up more RAM. This is probably only relevant when there are a reasonable amount of collisions possible in the environment. But to me, the trade-off between calculation time and RAM usage seems important for graph based global optimization.

[2017-05-09 12:44] Jmeyer1292 commented on #158
You're absolutely right. I've worked to reduce the cost per now and I think we can get it down some more. The recently merged changes drop memory usage by a large factor for sense graphs.

[2017-05-09 14:00] JeroenDM commented on #158
I didn't realize the most recent commits are added in the "godel_refactor" and "kinetic-devel" branches, sorry. Up until now, I was working with indigo-devel. I should probably upgrade to kinetic. I'm excited to check out the lowered memory usage :)

[2017-05-17 18:58] #192 closed, assigned to nobody

[2017-06-26 21:28] ghost opened #199 "questions on ptr class reference"
I wonder if you guys could find class reference for the following?

descartes_core::TrajectoryPtPtr,
descartes_core::RobotModelPtr

I found people are using these two functions but I'm not sure where I can find the class reference, I googled it for a long time. I wonder if you could help me with it?

Thank you

[2017-06-27 00:44] BrettHemes-3M commented on #199
They are defined via a macro on line 28 of utils.h
https://github.com/ros-industrial-consortium/descartes/blob/44116b74045138a83009a0576457c7a7cc72e05b/descartes_core/include/descartes_core/utils.h#L28

The macro provides a quick way to create types from Boost shared pointers
from a provided class... this confused me as well at first.  This
particular macro is used for PathPlannerBase, RobotModel,

[2017-06-27 20:13] ywen27G commented on #199
@BrettHemes Thank you for your help, this is great.

[2017-07-03 02:28] yijiangh opened #200 "Support on CartTrajectoryPt with flexibility on provided z axis orientation candidates"
Hi everyone, I'm planning to use descartes in a robotic spatial 3D printing project. We already have a path planning algorithm that can find printing sequence and feasible orientaions for each element's printing and want to use descartes to search for a feasible motion plan. In this scenario, the TrajectoryPt is a crossover between AxialSymmetryPt and CartTrajectoryPt, but with another degree of f

[2017-07-03 04:28] Jmeyer1292 commented on #200
@yijiangh Fantastic stuff. I love this idea and the video you showed is super cool. I've been doing thinking about similar problems, and I think the most concise way to handle this is to build a `LadderGraph` directly that models the constraints you have in your problem. You could then use existing tools to search this for a valid solution.

I've been wanting to move toward a more `Graph` based ap

[2017-07-03 15:23] BrettHemes-3M commented on #200
Very cool work @yijiangh !  Also +1 @Jmeyer1292 regarding building the `LadderGraph` directly.  This is something I have been meaning to dig into and an example snippet would be cool to see.

[2017-07-03 15:26] BrettHemes-3M commented on #199
No problem @mitch1044444
Would you mind closing the issue if you are good on this?

[2017-07-03 16:18] yijiangh commented on #196
@lkj1114889770 Thank you for bringing this up and offering your feedback on the solution. It's really helpful!

Would you mind closing the issue if you're good on it? Just want to keep the issue list clean and focused. Thanks in advance.

[2017-07-03 19:41] ghost commented on #199
@BrettHemes you are too kind sir.

[2017-07-03 19:41] #199 closed, assigned to nobody

[2017-07-03 20:49] ClayFlannigan commented on #200
@Jmeyer1292 I think this problem is similar to the one you and I were discussing recently: under-constrained starting pose, but fully constrained trajectory.  In my case (grasp planning) I may have degrees of freedom in both position and orientation, and the trajectory might include an interpolation of both position and orientation from start to end pose.  It feels like both @yijiangh use case and

[2017-07-04 04:21] yijiangh commented on #200
@Jmeyer1292 @BrettHemes Thanks for your interest! It's my honor to work with you guys to make descartes better! Looking forward for your small demo! I will definitely test it and perhaps expand it and give you feedback after I try it in my project.

@ClayFlannigan:

I totally agree! Actually I'm thinking about a general framework for this kind of "workpiece processing" application, after combining

[2017-07-05 12:48] #196 closed, assigned to nobody

[2017-07-07 21:33] jwhendy opened #201 "Any hope for using this with python?"
I'm going through the ROS-I tutorials, but translating to `python`. I got to this exercise and from my reading around, it's looking like this is currently `C++` only. Is that correct?

Any forecast/desire to port or make accessible via `python`? I'm also pretty new to ROS in general, so perhaps there's a known way to use any ROS library with `python`?

Thanks.

[2017-07-07 21:45] Jmeyer1292 commented on #201
If we wrote a ROS level interface, you could use Python. This would involve defining messages and services (or perhaps actions) that anyone could fill out and forward to a planning server node ala MoveIt.

I have trouble finding time and motivation to fix basic issues in C++, I have no desire to support more languages. I would not try to hold you back, however.

[2017-07-10 04:47] Jmeyer1292 commented on #200
I have not forgot you @yijiangh. I worked a bit tonight and wrote something very simple that I hope can address some of your issues. Please allow me a day or two to build some tests for it.

[2017-07-10 05:44] yijiangh commented on #200
Sure no problem! Thanks for your hard work @Jmeyer1292 ! At the meantime I'm working on
pose generation, getting ready to be integrated in your demo!

On Mon, Jul 10, 2017 at 12:47 AM Jonathan Meyer <notifications@github.com>
wrote:

[2017-07-13 00:53] Jmeyer1292 commented on #200
@yijiangh  Okay. I made a small-ish demo app that:
* Uses a UR5
* Demonstrates constructing a sequence of linear segments with the constraints you specified
* Planning for them
* Executing in simulation

**It is NOT pretty and I don't promise its bugless**

I recommend creating a new, test workspace for trying this out and:
 * Clone the app [directory](https://github.com/Jmeyer1292/personal_graph_

[2017-07-13 00:58] yijiangh commented on #200
That's amazing @Jmeyer1292 , thank you so much!!!

Give me some time to digest and test, I'll give you feedback ASAP.

[2017-08-09 11:13] ghost opened #203 "RePlanning"
Hey,

Is there a way to replan on real time or append new points and then re-calculate?
Is there a way to plan a path with non-zero initial and ending conditions?

Thanks.

[2017-08-10 06:45] yijiangh commented on #200
@Jmeyer1292 Finally I finished the integration of our descartes "special edition" into my app that I've been working on for the past 2 months. Here's a really simple, small and [early-stage demo video](https://www.youtube.com/watch?v=krLXQFC7PhU&spfreload=10)[1] demonstrating the entire workflow.

I have to express my gratitude for all the fantastic researchers in our ROS & ROS-I community again,

[2017-08-10 13:01] Jmeyer1292 commented on #200
Oof. I'm on travel for the next couple days but when I get back I'll attempt to build your demo app, framefab_mpp, and see what I can do about computation time, transitions, and collision checking.

[2017-08-13 16:09] yijiangh commented on #200
@Jmeyer1292 Thank you! I just update the README of [framefab_mpp](https://github.com/yijiangh/framefab_mpp) [1] and add detailed instructions and guide for installation and testing. It should work for you as I just tested it on a new ubuntu setup.

Please check the [kinetic-devel](https://github.com/yijiangh/framefab_mpp/tree/8862479a140bf6b316280111b407da1bc17c43ca) branch.

Looking forward to yo

[2017-08-15 14:12] bgl91 opened #204 "selfcollisionchecking fails"
hey,
i have a custom robot model (based on the ur5 end extended by an extra joint) for which i would like to plan collisionfree joint trajectories so that the endeffector follows a given path. As i understand the descartes pkg should be superiour to the moveit carthesian planner for such tasks. Since i have a 7 DOF  robot and didnt manage to setup a working ikfast ik solver i'm using the trac_ik,

[2017-08-15 14:17] yijiangh commented on #204
Could you please point out which version (commit) of the Descartes are you using?

[2017-08-15 15:45] bgl91 commented on #204
currently i'm using kinetic-devel 429a226

[2017-08-15 15:46] Jmeyer1292 commented on #204
I can't advise using Descartes without some kind of IKFast implementation. It's just not meant for it. I think similar ideas can be used with things that implement a numerical interface, but you'd want to tackle the problem differently.

The problem here is that the IK solver did not sample a similar configuration between two subsequent points along the curve you plotted. As a result, it decided t

[2017-08-15 16:00] Jmeyer1292 commented on #204
This makes me think. I would love to see Descartes grow into a more complete suite of tools for Cartesian path planning. This would include:
* motion planning interfaces for numerical solvers (especially those that can support tolerances through null space optimization, such as CLIK in industrial IK)
* simple (Eigen dependent only) tools for pre-processing trajectories: sampling lines, arcs, and s

[2017-08-15 16:05] bgl91 commented on #204
i have tried to generate an ikfast and a moveit plugin for this robot. However the solution doesnt seem to work with descartes. Even in moveit the interactive marker is hard to drag and apparently can only reach certain positions and orientations. Unfortunately i could only find posts with people having similar problems but no solutions on how to fix ikfast.
Regarding the joint flips they are ofte

[2017-08-15 16:35] yijiangh commented on #204
@Shadowgolem27 Based on your [video](https://www.youtube.com/watch?v=D99ZIm_JsGM&feature=youtu.be), it seems like that your robot model is a robot + end effector configuration. Since ikfast is a "required" component of descartes, I'm wondering if it's necessary for us to have a detailed tutorial for configuring industrial robot with end effector's ik fast component? Given that a more  [general ikf

[2017-08-19 03:37] yijiangh commented on #200
@Jmeyer1292 I manage to solve the collision checking problem! It seems like in moveit_state_adapter, unless specifically set the planning_scene using [setState](https://github.com/yijiangh/descartes/blob/88a5d1863d5a1e9c477930ec4aaf2efa41b9bb3e/descartes_moveit/src/moveit_state_adapter.cpp#L351-L357) function, the planning_scene will not automatically updated. In my case, I constantly need descart

[2017-08-20 21:14] Jmeyer1292 commented on #200
@yijiangh I've built your application and have been playing around a bit today. Thanks for the instructions on running it.

A few thoughts:

- It seems like both test cases eventually fail to generate a path because of collisions. Even when I changed your tool and gave it a bit more stand off from the collision geometry. I need to narrow this down and figure out if its a problem in how I build a g

[2017-08-23 06:11] Jmeyer1292 commented on #200
I worked a little more tonight. `convertOrientationVector` is producing the same orientation for many different vector inputs. This, combined with the tools wide width, is causing a lot of collision checking problems.

[2017-08-23 13:30] yijiangh commented on #200
@Jmeyer1292 Thanks for your work and sorry for my slow response, I was trying to add a small ui interface that allows us to zoom in vertices in the ladder graph (choose `path id`, `orientation id`, `axial symmetry (local axis)` and `ik solution`, see the picture below), check the collision visually and hoped to write you feedback after I finish it.

<img src="https://user-images.githubusercontent.

[2017-08-24 22:34] yijiangh commented on #200
@Jmeyer1292 , okay, I fixed the orientation issue but encountered a problem that ik fast fails to find solution for "simple pose" which obviously have solution from a human perspective.

Please take a look at the updated code:
**framefab_mpp**: pull `hotfix/convertOrientationVector` branch [1]
**descartes**:  pull `hotfix/graph_vert_empty` branch [2]

If you built it and test it with the simple fr

[2017-08-26 19:11] Jmeyer1292 commented on #200
@yijiangh I'll take a look specifically at what you did soon. I've been playing with your system and I've got the thing "mostly" working for the bunny except I'm currently failing on elements 119 and 139 of the bunny which only have 3 and 2 valid orientations a piece. It's a good place to test at.

[2017-08-27 03:29] Jmeyer1292 commented on #200
@yijiangh I've continued messing with things and realized a couple of things:
 1. I'm an idiot and only discretize `-PI/2` to `PI/2` in `graph_builder.cpp`. That needs to be widened to `-PI` to `PI`.
 2. The collision model for the tool is a little wider than the original tool. I shrunk it a little to better match the visual model. I hope this is okay.

Now I've managed to solve for every segment.

[2017-08-28 19:23] yijiangh commented on #200
@Jmeyer1292 :

To address this problem, I create a finer-grained collision model for end effector (picture below, compared to previous model in the back) and
have merged your [commits](https://github.com/Jmeyer1292/framefab_mpp/commit/f47e75ab418a4941f605a6bf0981ff021fe76864) in branch `messing_around` in `framefab_mpp` and also [commits](https://github.com/Jmeyer1292/descartes/commit/74b35984596f

[2017-08-29 16:22] Jmeyer1292 commented on #203
To your first question:

1. I'm not sure about real-time, but you can append points through the PlannerBase interface. See [here](https://github.com/ros-industrial-consortium/descartes/blob/indigo-devel/descartes_core/include/descartes_core/path_planner_base.h#L86).

2. If by non zero you mean non-zero position, then yes: Any trajectory point, including an underconstrained one or a fully constrain

[2017-09-15 15:15] BrettHemes-3M commented on #193
:+1: to this issue overall (regardless of where it belongs).  I feel like this needs to be addressed at a deeper level considering many available industrial robots have wrists that rotate past +/-pi (and some like the UR have extended rotation on two or more joints...).

@Jmeyer1292 where have you found the best place to add +/-2pi?  I would like to hack a solution together in the interim for test

[2017-09-15 15:56] BrettHemes-3M commented on #193
It seems at first glance that I could modify the generated IKFast plugin code to add and test the extra desired solutions within `IKFastKinematicPlugin::getPositionIK`...  then nothing in Descartes changes?  (it might need to go in a few other places but I haven't gotten that far...)

This approach would follow with @jrgnicho's comment that this belongs in the solver.

@Jmeyer1292, thoughts?

[2017-09-15 16:12] Jmeyer1292 commented on #193
@BrettHemes I think that's the simplest solution. In some ways, the lower it goes the better. In playing around I've put extra searches on 6 and sometimes 4 with the robots I have. In the kinematics plugin, as you mentioned, is probably best.

I have hacked it before in the state adapter, but at least it shows you what I'm doing [here](https://github.com/ros-industrial-consortium/descartes/blob/go

[2017-09-15 19:38] BrettHemes-3M commented on #193
FYI, implemented the IKFast plugin modification and it works beautifully.  Thanks for the help @Jmeyer1292

[2017-09-26 08:03] gavanderhoorn commented on #193
You may be interested in ros-planning/moveit#598.

[2017-10-17 20:01] Jmeyer1292 commented on #193
Hrm. I'm not sure how I feel about this change. I assume that Descartes is the primary user of that overload and currently I much prefer to do my own resolution of those joint values so I can pick the ones I care about (4 & 6 usually). We don't have a "seed state" so for me, it's just more work that MoveIt does that I don't want.

I feel like I may eventually want or need to get rid of MoveIt's IK

[2017-10-23 22:40] mcevoyandy opened #205 "catkin build errors"
https://github.com/ros-industrial-consortium/descartes/blob/429a226b0d5bfab661df8cefaa01f1e0350f6473/descartes_moveit/package.xml#L28

Using `catkin build` I get the following errors:
[code]

[2017-11-02 16:51] rivertam commented on #194
Kinetic would also be nice. =/

[2017-11-11 18:57] yijiangh opened #206 "Serializing and deserializing ladder graph?"
Hi everyone,

I'm writing to ask for help and advice on the implementation of [serialization](https://en.wikipedia.org/wiki/Serialization) and deserialization of ladder graph.

In my [application](https://github.com/ros-industrial-consortium/descartes/issues/200), the ladder graph might take quite some time (up to 40 min) to compute. And this heavy computation makes debugging for any downstream pr

[2017-11-11 21:40] shaun-edwards commented on #206
I believe the underlying graph is a boost graph.  Is there any reason not to serialize the graph directly...assuming boost provides such functionality?

[2017-11-11 22:18] yijiangh commented on #206
@shaun-edwards Oh sorry, I forgot to mention that I'm working on `kinetic-devel`, where @Jmeyer1292 implemented a customized [ladder graph](https://github.com/ros-industrial-consortium/descartes/blob/429a226b0d5bfab661df8cefaa01f1e0350f6473/descartes_planner/include/descartes_planner/ladder_graph.h) without using the boost architecture...

[2017-11-12 20:18] yijiangh commented on #206
I wrote and tested a [descartes_msgs](https://github.com/yijiangh/descartes/tree/feature/serialize_ladder_graph/descartes_msgs) package and a [descartes_parser](https://github.com/yijiangh/descartes/tree/feature/serialize_ladder_graph/descartes_parser) package. They just wrap the ladder graph data into corresponding msgs to allow saving and parsing. The solution is not so elegant but I have tested

[2017-11-12 20:18] #206 closed, assigned to nobody

[2017-11-15 01:44] yijiangh commented on #55
@BrettHemes Would you mind giving me an estimation how many vertices (ladder graph vertices) do you have in this benchmark? With LadderGraph data structure, I'm wondering if you have encountered issues with RAM overflow?

For me, using ladder graph used in [kinetic_devel](https://github.com/ros-industrial-consortium/descartes/tree/429a226b0d5bfab661df8cefaa01f1e0350f6473), I ran out of my 16G RAM

[2017-11-16 16:50] BrettHemes-3M commented on #204
@Jmeyer1292 regarding your comments

I agree that these are gaps and would definitely benefit personally from such tools.  Do you think they all belong IN Descartes?  I could probably justify time in helping to implement some stuff if there is pull...

[2017-11-16 16:54] BrettHemes-3M commented on #55
@yijiangh I am still on a fork of indigo-devel that has the first part of @Jmeyer1292's refactor but not the most recent stuff from the top of kinetic-devel.  That said, I can't tell you how many vertices and rungs exist for my paths of ~5k waypoints.

[2017-11-16 16:58] BrettHemes-3M commented on #55
@Jmeyer1292 how are you feeling about your kinetic-devel branch progress?  I need the OMP parallelization for my application to work and tried to quickly rebase on kinetic-devel but the newest changes are such that I will have to massage the OMP stuff a bit.  If you like where yours is and are open to eventually merging the OMP stuff, I will work on getting it up to date with the HEAD of kinetic-d

[2017-11-16 19:14] yijiangh commented on #55
@BrettHemes +1 for updating kinetic-devel with OMP. The Parallelism speedup on graph construction would be essential for my project too. I'd love to help and test the OMP kinetic-devel rebase!

And thanks for letting me know about your test with ~5k points, I feel like that the RAM issue will eventually strike whenever a huge ladder graph is constructed (a lot of vertices in each rung, like the si

[2017-11-21 16:21] yijiangh commented on #204
@Jmeyer1292 in your comments

I'm wondering if Descartes could benefit from using CLIK to prune IK solutions, adding only feasible solutions with respect to certain constraints instead of adding all IK solutions from ikfast, which could potentially help on solving the memory overhead problem when huge ladder graph needs to be constructed (for example, in my case #200 )?

[2017-11-25 16:28] Jmeyer1292 commented on #55
@BrettHemes Give me this week. I'll get the outstanding pull requests merged in, including the OMP stuff.

@yijiangh Are you sure it was purely the size of your graph? 3205293 vertices * 6 dof * 8 bytes per vertex = 153854064 bytes. Divide that by 1e9 = 0.15 GB. Is it all edges then? Are you discretizing very finely?

I only ask because I've observed but not hunted down and issue in my own work wh

[2017-11-25 16:50] BrettHemes-3M commented on #55
Thanks @Jmeyer1292!

[2017-11-27 04:27] yijiangh commented on #55
@Jmeyer1292 Thanks for your comments and sorry for my delayed response. After I went back to check the result, I found that indeed edges' storage is the major issue.

Let's take a model with 250 elements as an example, where the model has 4,370,024 vertices, 1,974,038,700 edges (!), and 1426 rungs. The vertices only occupy 4,370,024 * 6 (dof) * 8 bytes =  0.2G, while the edges takes up 1,974,038,7

[2017-12-02 00:06] mlautman opened #209 "kinetic-devel branch build error"
Building the kinetic-devel branch fails with:
`WARNING: package "descartes_moveit" should not depend on metapackage "moveit_ros" but on its packages instead`

Deleting this line fixes the issue.
https://github.com/ros-industrial-consortium/descartes/blob/3067b218ebed35ddb8bc827f6a966edd7c1af41f/descartes_moveit/package.xml#L28

[2017-12-08 13:35] yijiangh opened #210 "Use Descartes on a 6-dof robot with linear track?"
Is it possible to adapt descartes to plan for a 6-dof robot on a linear track (e.g., the snapshot from [stomp demo](https://www.youtube.com/watch?v=AvFoskssvVQ) [1] below)?

I think the key technical barrier would be the IKfast configuration. Is it possible to configure IKfast for this setup?

Thanks!

[1] https://github.com/ros-industrial/industrial_moveit
![stomp](https://user-images.githubuserc

[2017-12-08 15:47] Jmeyer1292 commented on #210
The IKFastStateAdapter will handle it natively if you add the free joint in IKFast. You have limited-ish control over the discretization by default. If you write an extension to the robot model class, then you can probably implement more intelligent search policies if you need them.

I have used this with real hardware.

[2017-12-08 15:54] Jmeyer1292 commented on #55
@yijiangh A couple of thoughts:

1. Instead of naively appending graphs, we could come up with a data structure that understands that free-space segments will have all edges connected, and then store only edges that have failed. Or something like that. Should give you equivalent performance without the huge edge storage cost.

2. We can store edge costs as floats instead of doubles. Not a huge imp

[2017-12-08 16:22] yijiangh commented on #210
@Jmeyer1292 Thanks for the feedback! I'll implement it and come back with feedback to close this issue.

[2017-12-08 17:21] yijiangh commented on #55
@Jmeyer1292 Thanks for your feedback as always.

Actually, I just came across a new idea last week and tested it with a quick implementation. The central idea is instead of enumerating all the poses in each rung and connect all the edges between them, we first run an algorithm to determine the `optimal poses for adjacent rungs with shared EEF pose` and construct a unified ladder graph based on the

[2017-12-08 17:43] Jmeyer1292 commented on #55
@yijiangh Very cool. Thank you for taking the time to explain this to a wider audience: it's work like this that makes me want to be part of our little community.

I'll take the time this weekend to go through the process, but I just want to make sure I understand:

You have a big motion planning problems that involves some number of **cartesian segments** where the extruder is on, and **freespace

[2017-12-08 18:54] yijiangh commented on #55
@Jmeyer1292 You are correct. The Central theme here is first searching on this sparser representation and then "zoom-in" to apply search. Sampling-based search on the capsule tree structure can also help us bypass the problem caused by discretization granularity on tool z-axis's rotation angle.

I just update the conceptual hand drawing above to give more detail on this.

[2017-12-13 15:24] maxgittelman opened #211 "Update wiki to include Kinetic"
Hello,

This should be an easy fix that only the mainter's can update on the wiki page. This project supports Kinetic but does not reflect that fact on the ros wiki page. Many programmers will probably be deterred by the fact that on first sight it seems like an outdated project that is only available for Hydro and Indigo.

I almost didn't use this project because I figured it is outdated. Updates

[2017-12-21 03:49] mlautman commented on #205
+1

[2018-01-03 02:36] Jmeyer1292 commented on #205
I don't get the error and the automated build system seems to work. I'll make the suggested fix, but I wonder what the difference is.

[2018-01-03 02:39] #201 closed, assigned to nobody

[2018-01-03 02:44] Jmeyer1292 commented on #185
Should be addressed by #207

[2018-01-03 02:44] #185 closed, assigned to nobody

[2018-01-03 02:46] #146 closed, assigned to nobody

[2018-01-03 02:47] #203 closed, assigned to nobody

[2018-01-26 13:14] BasJ93 opened #213 "Initialze planning graph using the robotstate"
I am currently using Descartes with an UR5 arm to perform the task of combining a nut and bolt. I like Descartes because in my experience it produces superior Cartesian paths, and in my application the yaw of the end effector is not important.

However, I am running in to the problem that the robot pose changes when a new path is computed. Because the UR can produce 4 valid IK solutions for a give

[2018-01-28 00:23] Jmeyer1292 commented on #213
Interesting that you get different plans each time. Are they all the "same" cost (e.g. just a twist of joint 6)?

I seed my paths by including the current position of the robot as a point in the trajectory to solve. Specifically, put a `JointTrajectoryPt` with your robots start pose at the front of your input trajectory. Peel it off of the result trajectory if required.

[2018-01-28 19:11] BasJ93 commented on #213
I misread your comment, and misunderstood the JoinTrajectryPt. I now realize that that is actually a point in the trajectory defined with joint angles. That might very well be my solution.

Old response:
Yes, I think that the cost is the same, as the robot pose is the opposite of the current pose e.g. the shoulder joint rotates 180 degrees.

I do start the trajectory with the current pose of the r

[2018-01-29 11:40] BasJ93 commented on #213
Thank you, seeding the planner by including the current pose solved my problem. I will look into writing a test program to see if the cost is the same for the paths where the robot pose is changed.

[2018-02-17 15:56] yijiangh commented on #210
@Jmeyer1292:
`
 The IKFastStateAdapter will handle it natively if you add the free joint in IKFast.
`
 Could you please share how would you set the free joint index in IKFast generation?

Take the following 6-axis IRB6640 + linear axis for an example, the links info is:

[code]

A snapshot of the dae visualization:

<img src="https://user-images.githubusercontent.com/11905844/36342684-c738d774-13c

[2018-02-18 22:20] yijiangh commented on #124
I think the trac-ik conversation here is not completely over yet. Under @shaun-edwards 's definition on _all ik solutions_:

If `track-ik` is able to produce these solutions in 5 ms, according to @pbeeson ,

Then I think `trac-ik` deserves to be a good replacement for ikfast when ikfast configuration becomes troublesome for 7 dof robots (for example, 6-axis + linear track [here ](https://github.co

[2018-02-19 00:33] pbeeson commented on #124
There is no guarantee that trac-ik will return **all** solutions, as there are infinite solutions for a 7-DOF robot and  potentially hundreds for some configurations of 6-DOF robots (consider a configuration where two inline rolls joints can move to anything so long as their sum is for example zero).    But I don't believe that any IK solver that would return **all** such solutions in finite time.

[2018-02-19 01:28] shaun-edwards commented on #124
Even for those arm kinematics, for which all solutions can be found, numerical solvers are not ideal.  @Jmeyer1292 and I tried this for standard industrial arms and were less than successful.  I believe there is a kinematics wrapper for KDL somewhere that tries to guess the proper seeds on startup.  Guessing the seeds for an arbitrary arm kinematics is not easy (but I'd love to be proven wrong).

[2018-02-19 17:09] jrgnicho commented on #124
@yijiangh I don't know that TrackIK would be a good replacement for IKFast as it does require a seed to produce different solutions as someone already pointed out.  It will most likely be faster than the default KDL numerical solver.  If you already have a TracIK plugin then it should be pretty straight forward to load it into the MoveitStateAdaptor as long as it is listed in the kinematics.yaml c

[2018-03-08 10:22] haisongdong-harrison opened #214 "Randomly added offset in planned path"
I just encountered a very weird problem when using Descartes with MoveIt!.
We have a fixed trajectory to plan and we always start from the same pose and of course seed the trajectory with this pose. Every time the planned path can reproduce the trajectory perfectly but it may or may not add some offset to the path on a certain axis (X-axis in our case), completely at random. The screenshot below m

[2018-03-09 07:40] haisongdong-harrison commented on #214
Oops, it seems to be a bug in our getAllIK function.
Although I still have no idea why this bug can generate a different path every run, after some tiny fix it is working well now.
Sorry for the unnecessary issue report.

[2018-03-09 07:41] #214 closed, assigned to nobody

[2018-03-09 12:08] gavanderhoorn commented on #214
@hansondon: this would be in a custom descartes wrapper for `ur_kinematics`?

[2018-03-09 12:45] haisongdong-harrison commented on #214
@gavanderhoorn Yes.
We checked [this issue](https://github.com/ros-industrial/universal_robot/issues/155) and it seems `ur_kinematics` is faster than IkFast solutions? Our code is adapted from the roscon2015 demo project so we are still using the `MoveitStateAdapter` to wrap it up.

BTW, is it actually better to set IkFast as the solver in the `kinematics.yaml` and use `IkFastMoveitStateAdapter` i

[2018-03-09 12:51] gavanderhoorn commented on #214
`ur_kinematics` provides analytic ik solvers for the various UR robots, written by hand by Kelsey. IKFast would be the same, but then generated. I haven't benchmarked the two, but I almost assume that `ur_kinematics` is comparable to IKFast, if not faster.

The only direct disadvantage I see of using `ur_kinematics` directly is that you'll have to maintain a wrapper, as you cannot reuse the `IkFas

[2018-03-14 16:33] hsd-dev opened #215 "Does Decartes still need MoveitStateAdapters?"
I am using [Godel](https://github.com/ros-industrial-consortium/godel) to replace ABB arm with [Denso vs087](https://github.com/ipa-nhg-hd/denso_robot_ros/blob/master/denso_robot_descriptions/vs087_description/urdf/vs087_macro.urdf.xacro). I am trying to generate IKFast plugin for this robot, but it fails https://github.com/rdiankov/openrave/issues/568. I am successfully generated the plugin for [

[2018-03-17 18:29] yijiangh commented on #210
Many thanks to @gavanderhoorn for pointing me to the `inversekinematics database` method to get around setting the free joint index in this [ROS Answer post](https://answers.ros.org/question/285611/set-free_index-for-7-dof-robots-ikfast-moveit-plugin-generation/?answer=285712#post-id-285712) [1].

In the hope of helping someone else who encounters this problem, I've documented the resolution in an

[2018-03-17 18:29] #210 closed, assigned to nobody

[2018-03-17 18:40] yijiangh commented on #200
With the implementation of RRT* on a sparse representation of ladder graph (I call it CLT - Capsulated Ladder Graph), please refer to issue #55 for related discussions.

I have to express my gratitude to everyone here who involved in the discussion, especially @Jmeyer1292 for providing valuable demo code for guiding me out of the mist.

The final product of my project, named [Choreo](https://githu

[2018-03-17 18:40] #200 closed, assigned to nobody

[2018-03-18 10:38] gavanderhoorn commented on #210
Good to hear you got something to work, but why 'fork' that MoveIt tutorial? If you feel that this method works better than the one that is currently documented, it might be worthwhile to suggest that to the MoveIt developers and submit a PR with your updates.

[2018-03-18 10:40] gavanderhoorn commented on #210
I would actually also suggest to really use the Docker image.

Installing OpenRave just to generate an IKFast plugin is not something I would recommend (or do). Using the Docker image completely removes the need to go through that.

[2018-03-18 11:06] yijiangh commented on #210
@gavanderhoorn

I feel like my "fork" of the documentation is probably too wordy and it is written in a short amount of time just to record everything I did to make it work. And in my tutorial, I put a strong emphasis on 6+1 dof setting (and too many ABB examples from a private repo doesn't sound good for the official Moveit! tutorial), which might be only of interest within the ROS-I community. B

[2018-03-18 11:10] gavanderhoorn commented on #210
@yijiangh wrote:

I'm not sure why we would need one?

I'm not sure why you'd need to do that either.

Of course. There is nothing magic about the OpenRave provided by the Docker image. The point is to be able to avoid 'polluting' your system with all the dependencies that are needed just to get OpenRave to compile, and then only use all of that for the 10 minutes you use OpenRave to generate your

[2018-03-18 11:17] yijiangh commented on #210
@gavanderhoorn wrote:

I have limited knowledge on docker but it seems to be very cool and convenient to use! (I did suffer from this kind of polluting in the past)

Thank you for clarifying this. I will give it a try and update the tutorial accordingly.

[2018-04-11 05:13] demorise opened #217 "Problem with Changing Rotation Matrix along Path"
I'm using Descartes to plan a path in which the yaw component of the rotation matrix of points changes in the course of the motion. I noticed that with a constant yaw, descartes generates a valid path, but once the yaw value is varied along the path, descartes gives an error of the form: "No edges between user input points at index i and  i+1"

e.g.
[ WARN] [1523422579.560259888]: No edges between

[2018-04-11 17:49] demorise commented on #217
In case anybody faces a similar problem:
So I found out the problem was from the "TimingConstraint(dt)" argument of CartTrajectoryPt. It was too small, so there wasn't enough time for the rotation to take place. I set it to -1, which caused it to be ignored, allowing the default joint velocity to be used for the rotation instead.

[2018-04-11 23:17] shaun-edwards commented on #217
@demorise, thanks for the explanation.  Am I right in assuming this can be closd?

[2018-04-12 03:04] demorise commented on #217
@shaun-edwards Yes. Any additional insight will however be appreciated.

[2018-04-12 04:36] demorise opened #218 "Executing motion without starting path at current robot position"
I have a couple of lines which I have discretized into waypoints for descartes. For my application, I need to  generate a "joint solution" for each line, which I then execute, rather than combining all the lines into a single path.  I have also ensured that the end-point of each line coincides with the start-point of the next line since descartes requires that every path begins at the robot's curr

[2018-04-12 06:23] gavanderhoorn commented on #218
Could you please copy-paste the exact error message you see? You may actually be receiving an error message from MoveIt. That was 'recently' (about 5 months ago) extended with a start-state-is-current-state check. Descartes does not have that afaik (it's only a planner, not an executing entity).

A `JointTrajectory` only contains the points for the actual trajectory, unless you've added some appro

[2018-04-12 07:09] gavanderhoorn commented on #218
Could I please ask you to not cross-post support requests to ROS Answers? I just came across [Executing motion in Descartes without starting path at current robot position](https://answers.ros.org/question/288362) there.

At the very least, cross-posting leads to split discussions. Worst, to duplication of effort.

[2018-04-13 00:29] demorise commented on #218
@gavanderhoorn : Apologies for the cross-posting. Thanks for your response.
Here is the error I get:
"Validation failed: Trajectory does not start at current position"
How do I disable this  safety check? The distance between the robot's current position and the trajectory start position in my case is probably in microns and should not present any safety issues.
Thanks.

[2018-04-13 09:38] gavanderhoorn commented on #218
Is that the exact error message?

What robot and driver are you using? A motoman by any chance?

I can only find partial matches with that error string, and the `motoman_driver` package is one candidate ([here](https://github.com/ros-industrial/motoman/blob/c01b930659a7dffb588285297875a38ddef2912d/motoman_driver/src/joint_trajectory_streamer.cpp#L530-L535)).

If you are using a Motoman, then this

[2018-04-13 15:35] demorise commented on #218
Hi @gavanderhoorn : You are right. It's "doesn't" and not "does not". I didn't have access to the robot yesterday, so I copied it off my search history where I had unconsciously changed it to "does not". Also, you are right about the robot. It's a Motoman robot. I really appreciate your effort in trying to help with this.  Perhaps I should give a  more detailed explanation of the issue I'm facing

[2018-04-13 15:39] Jmeyer1292 commented on #218
@demorise We ran into this on a project with a motoman recently. The robot expects that the start position is within 10 pulse counts (very small value) of the current position. When told to move through a path, the robot fails to stop within 10 pulse counts of the final position. This may be a problem with the driver, a problem with bad time parameterization, or whatever but the end result is that

[2018-04-13 16:12] demorise commented on #218
@Jmeyer1292 Thanks for your contribution. I have tried solving this by subscribing to the joint_state topic as follows:

ros::Subscriber joint_state_sub = nh.subscribe("/joint_states", 100, &jointStateCallback);

I then replace the positions of the first point of the joint solution i.e. joint_solution.points[0].positions[i] (where i is the index of each joint) with the robot's current joint positi

[2018-04-13 16:20] Jmeyer1292 commented on #218
@demorise That error sounds like the robot driver is getting a new motion while the previous one is still active. I don't think that error has anything to do with the position of a given trajectory.

Make sure that the action has completed before you send a new trajectory and maybe even put a small sleep in between the motions if you can. This might be needed because the standard action server kin

[2018-04-13 16:21] gavanderhoorn commented on #218
(note that the rest of this discussion is off-topic for this issue tracker I believe)

An immediate work-around would be to generate a single trajectory for the four sides of your square and execute that in one go. Descartes supports this scenario afaik.

If that is undesirable, you would probably have to make sure that you generate the next trajectory with a start-state that you retrieved from th

[2018-04-13 16:22] gavanderhoorn commented on #218
@Jmeyer1292 wrote:

the controller side code actually sends out `RobotStatus` messages that contain the `in_motion` field. I believe the OP should be able to use that together with tracking whether he is waiting for a goal to complete to have a reliable estimate of when the robot has completed the trajectory.

[2018-04-13 16:30] Jmeyer1292 commented on #218
@gavanderhoorn I don't have any concrete evidence to give you right now, but I've definitely seen that it's sometimes necessary to dwell a moment between when the joint move action returns and when I send the next one. The action listens to that robot status `in_motion` field.

[2018-04-13 16:31] gavanderhoorn commented on #218
Just remembered that there is actually a ROS node that can check whether a set of joints has 'settled': [joint_states_settler](http://wiki.ros.org/joint_states_settler). That could possibly help here.

[2018-04-13 16:35] gavanderhoorn commented on #218
@Jmeyer1292 wrote:

I'm not doubting you, but looking at the code it's essentially an `&&`: within goal tolerances and controller reports it stopped moving ([here](https://github.com/ros-industrial/motoman/blob/808a8c16d9120814c11438b8809cfb957bf3a70f/motoman_driver/src/industrial_robot_client/joint_trajectory_action.cpp#L489)).

Checking for in-goal-constraints is thresholding, but the controller

[2018-04-13 16:35] demorise commented on #218
@Jmeyer1292 Thanks a lot. Now I see.... I also just came across this: https://github.com/ros-industrial/motoman/issues/34 ,which buttresses the point you just made. I might be able to accommodate a sleep of about half a second between the paths. I'll try this and see what happens.

I will however like to know more about this if it's not much of a trouble to you.

[2018-04-13 16:38] demorise commented on #218
@gavanderhoorn You are right. I tried this method and it worked perfectly. It is however less desirable for me because I lose some "non-path" related information associated with the line.

[2018-04-19 12:11] VictorLamoine opened #219 "Failure at compilation"
[code]

[code]

[2018-04-19 12:19] VictorLamoine opened #221 "catkin packages can be improved"
[code]

A simple script to run `catkin_lint` in all directories of the project:
[code]

[2018-04-19 12:52] VictorLamoine commented on #205
@Jmeyer1292 this issue is fixed, you can close it :)

[2018-04-19 12:53] VictorLamoine commented on #209
@Jmeyer1292 you can close this one too, this is fixed

[2018-04-19 13:20] #205 closed, assigned to nobody

[2018-04-20 15:23] #221 closed, assigned to nobody

[2018-04-20 15:24] #219 closed, assigned to nobody

[2018-06-04 00:53] BrettHemes-3M commented on #194
+1 to this.  Even a 0.0.4 release tag would be appreciated.

[2018-06-21 15:47] JeroenDM opened #226 "kinetic-devel branch build error due to "logError" function"
I tried to build descartes on a clean installation of ROS kinetic and got the error:
[code]

I noticed they have [changed `logError` to `CONSOLE_BRIDGE_logError`](https://github.com/ros/console_bridge/issues/18) in the [console_bridge](http://wiki.ros.org/console_bridge) package.

If this has to be fixed, I will do so and create a pull request.
Or should the function `ROS_ERROR` be used instead?

[2018-06-24 08:21] ManMan88 commented on #226
I also have the same issue (also for logInform).
For now I replaced logError with ROS_ERROR and logInform with ROS_INFO and then it compiles.

[2018-06-27 15:15] BrettHemes-3M commented on #226
Ouch, this hit us as well.  I think the right way to proceed is to change all the calls to include new prefix.  +1 to a PR (unless @Jmeyer1292 thinks otherwise)

[2018-06-27 19:14] Jmeyer1292 commented on #226
I'm cool with that. I've been on travel for a bit and I won't be back till tonight.

[2018-06-28 06:09] #226 closed, assigned to nobody

[2018-06-28 06:12] JeroenDM commented on #226
Apparently, I'm to slow, I just woke up this morning and the issue was fixed :) Thank you!

[2018-07-11 17:22] Jmeyer1292 commented on #143
I deleted the pretty print file with the custom license, as it served very little purpose for all the code it had.

[2018-09-07 07:45] Teeerry opened #231 "Not calculating edge weights to nil ID"
[code]
When the distance between the waypoints becomes smaller, it cannot find a suitable solution.
I don't know about this kind of problem, under what circumstances will happen, how to solve it.

[2018-12-18 07:40] TardiSs6 opened #232 "error: no matching function for call to ‘moveit::core::JumpThreshold::JumpThreshold()"
I got this error after update.

/opt/ros/kinetic/include/moveit/robot_state/robot_state.h: In constructor ‘moveit::core::JumpThreshold::JumpThreshold(double)’:
/opt/ros/kinetic/include/moveit/robot_state/robot_state.h:81:60: error: no matching function for call to ‘moveit::core::JumpThreshold::JumpThreshold()’

[2018-12-26 17:35] #232 closed, assigned to nobody

[2019-01-10 09:48] igorrecioh opened #234 "Error when building descartes from source with melodic-migration branch"
Hi all,
Environment: Ubuntu 18.04 with ROS Melodic.

I am following the instructions provided [here](http://wiki.ros.org/descartes/Tutorials/Getting%20Started%20with%20Descartes) but cloning the melodic-migration branch.

When I try
[code]

I obtain this errors:
[code]
Seems that there is something wrong with
[code]

I have tried searching something related but no success. Could anyone give help w

[2019-01-11 20:46] BrettHemes-3M commented on #234
It is from this new MoveIt commit here https://github.com/ros-planning/moveit_tutorials/pull/255

This should be easily fixed by replacing all occurrences of `Affine3d` with `Isometry3d`

Running this in another repository of mine fixed the issue:
`find ./ -type f -exec sed -i 's/Affine3d/Isometry3d/g' {} \;`

[2019-01-11 20:51] jrgnicho commented on #234
@igorrecioh I think those instructions are outdated, `catkin_make` is no longer used as far as I know, try using catkin tools, so the build command would be `catkin build `

[2019-01-11 20:53] jrgnicho commented on #234
@igorrecioh are you building moveit from source?

[2019-01-11 21:22] BrettHemes-3M commented on #234
Sorry, wrong commit.  Check this one ros-planning/moveit#1096

I submitted a PR that fixes these errors #235 onto melodic-migration

[2019-01-11 22:29] igorrecioh commented on #234
Hi @BrettHemes and @jrgnicho! Sorry for not updating this issue but yesterday I was able to solve it by replacing Affine3d with Isometry3d as @BrettHemes commented.
I forked Descartes and I was planning to submit also a PR with these fixes!
BTW, thanks a lot for your help!

[2019-02-04 13:58] igorrecioh commented on #234
I have seen that the changes needed for this have been merged! Thanks! This issue can be closed!

[2019-02-04 13:58] #234 closed, assigned to nobody

[2019-03-27 17:27] bgd29 opened #238 "Question regarding the collision avoidance capabilities"
I trying to achieve collision free cartesian paths in a "semi cluttered" environment, and I'm trying to figure out whether Descartes is the tool for the job, or maybe if you guys have a different recommendation. Does Descartes plan around obstacles (like STOMP, OMPL etc) ?  I believe an alternative for my application would be to detect the possible collisions and stitch in collision free paths gen

[2019-06-15 11:12] manujtrehan opened #240 "Could not connect to action server - Could not execute trajectory"
I was trying to control my robot model and make it follow a cartesian path using ros_descartes. However, while trying to execute the code, I get the following errors:

[code]

Can someone please help me with solving this issue?

[2019-08-12 07:26] avwhite opened #241 "Robot base and tool offsets corrected for twice when using descartes with IKFast plugin generated by MoveIt."
When generating an IK solver with IKFast, we use the robot base as the "world frame" and the last link of the robot as the "tool frame".

When generating trajectories, we might wish to specify them in relation to some other base frame, and have a tool attached on the robot follow the path. This can be done using the same IK solver, simply by applying the appropriate transform to the input.

The IK

[2019-08-14 07:12] avwhite commented on #238
I am quite new to this myself. What I have gathered from using ROS and Descartes so far is that Descartes will plan around collisions between objects defined in the urdf file. These are just my own observations from using Descartes.

It seems like the planning scene of moveit can also supports more advanced descriptions of the environment, for when stuff is moving around over time or when the envi

[2019-08-16 14:07] avwhite commented on #241
I have been looking further into this.

It seems like the IKFast plugin (as generated by the moveit tool) will always compensate to plan with respect to the frames which have been configured in moveit. (this makes sense considering it is a moveit plugin).

The descartes ikfast moveit state adapter meanwhile always compensates with respect to the frames the descartes robot model has been initialize

[2019-08-16 14:09] gavanderhoorn commented on #241
A quick comment: the IKFast plugin transforming poses back to the base/tip frame(s) is a recent addition (as in: couple months, I believe https://github.com/ros-planning/moveit/pull/1014), and it's likely that the Descartes integration just hasn't been updated to take this into account.

[2019-08-16 15:02] avwhite commented on #241
Thanks for the comment. That makes a lot of sense. Maybe I should look into how to set up moveit to use a base frame not connected to the kinematic chain of the robot, and then go back to disabling the transformation in descartes.

[2019-08-27 08:39] gavanderhoorn commented on #241
late, but: this is probably a misunderstanding, but how would MoveIt transform incoming poses if the frame is not connected to the robot?

[2019-08-27 10:21] avwhite commented on #241
What I mean is that if  `world -> base_link -> link1 -> ... -> tool` and also `world -> object`, I was not able to figure out how to set `object` to be the base (which coordinates are specified in) and `tool` to be the tool . There exist a transform between them, but they are not direct descendants of each other.  (neither base_link or object are currently moving with respect to world while the sy

[2019-09-07 16:04] jacknlliu opened #243 "tool_pt orientation_tolerance seems not working"
We set the `orientation_tolerance` as 30 degree
[code]
But the output trajectory, the z axis tolerance is larger than 30 degree, actually max 90 degree!

I set the cartesian trajectory point like
[code]

[2019-09-09 15:09] jrgnicho commented on #243
The tolerance is applied relative to the tool point orientation, so it can still exceed that tolerance relative to a global reference frame's orientation

[2019-09-09 16:58] jacknlliu commented on #243
Is it relative to the `tool_base`, not the given `tool_pt` z-axis?

[2019-09-10 01:00] jacknlliu commented on #243
What about importing a new construction method of the [`TolerancedFrame`](https://github.com/ros-industrial-consortium/descartes/blob/065630c8711c71913503bc14069faca6aa9d30cc/descartes_trajectory/include/descartes_trajectory/cart_trajectory_pt.h#L156) like
[code]

this will enable user create a tolerance frame with a `tolerance` relative to the given axis of the `tool_pt`

[code]

[2019-09-10 16:01] jrgnicho commented on #243
You can look into the sampling method for the cartesian point [here](https://github.com/ros-industrial-consortium/descartes/blob/065630c8711c71913503bc14069faca6aa9d30cc/descartes_trajectory/src/cart_trajectory_pt.cpp#L215)

I believe that what you are requesting is already possible with the current implementation unless there's a bug

[2019-09-11 14:29] jacknlliu commented on #243
@jrgnicho yeah, it's possible from the current implementation, but the default implementation allow the user to create the absolute range for an axis relative to the `tool_base` easily, like
[code]
the planner will search between -30 degree to 30 degree which relatvie to the `tool_base`, not the `tool_pt`.

But if the user wants to the planner searching between -30 degrees to 30 degrees which rela

[2019-09-20 16:37] julien-audet opened #244 "Using Descartes with attached collision objects"
Hey all,

I've been using Descartes with collision objects without problem, but I didn't manage to use it with attached collision objects (collision is ignored between the attached collision object and the robot + environment). In my case, I want to use an attached collision object as a tool to facilitate tool changing, but the tool currently ignores collision with the robot/environment.

It is po

[2019-09-20 19:33] julien-audet commented on #244
I think I managed to use an attached collision object (as a tool) by further modifying Descartes. The planning now fails if the tool touches the environment and doesn't if the path is valid. Although, it is at least 10x slower than before to plan a path. I haven't tested it that much though. Here's what I did :

[code]

Where planning_scene_ is updated at the end of MoveitStateAdapter::initialize(

[2019-11-23 00:54] mrunaljsarvaiya commented on #244
I used a similar approach to collision check with attached collision objects. I modified the code further and used `checkCollision` function instead. I don't know if it's faster or slower than using `isStateColliding` but you can specify some parameters in the `collision_detection::CollisionRequest` that might speed things up.

[2020-04-21 14:43] YannisLympero opened #245 "Robot Collision in Descartes not working properly "always""
Dear all,

I am using a transformation of [Tutorial 2](https://github.com/ros-industrial-consortium/descartes_tutorials), to perform trajectory planning with collision avoidance around an .dae workpiece.

Opposite to tutorial 2, my "grinder" is mounted on the robot and the workpiece is fixed at some position in the world-frame. I am following a path around the perimeter of my .dae workpiece - with

[2020-04-22 11:31] JeroenDM commented on #245
(*Note*: I haven't looked at the code in a long time, so some things could be off, but I'm just writing some of my thoughts in the hope it can be helpful.)

Does this mean you can observe collision in the solution sometimes?

Descartes checks for collision on discrete points along the path, not in between them. (The point loaded from the CSV file from which the input trajectory points are created.

[2020-04-23 20:02] jrgnicho commented on #245
One way to do this is to create your own derived class of  the MoveIt State Adapter and override the [isValid](https://github.com/ros-industrial-consortium/descartes/blob/065630c8711c71913503bc14069faca6aa9d30cc/descartes_moveit/include/descartes_moveit/moveit_state_adapter.h#L56)  function so that it grabs the most current planning scene which should contains any sensor data fed to it.

[2020-07-17 06:27] blackhorsewu opened #247 "Which IK Solver and Manipulator model for UR5 to work Best with Descartes"
I am using a UR5 with Melodic on Ubuntu 18.04 trying to use Descartes to plan joint trajectories for the manipulator.

It does not always find a valid trajectory even when the poses of the way points are valid. When it finds trajectory, it does not give the same trajectory for the same set of way points.

I have been trying to use ur_kinematics/UR5KinematicsPlugin with IkFastMoveitStateAdapter to

[2020-10-21 12:31] machinekoder opened #248 "Release for noetic"
The melodic-devel branch works nicely in noetic. Please release the package.

[2020-12-04 03:35] jhu-gh opened #249 "inconsistent tcp_frame in model and ikfast"
I came across the following behavior recently when i was using this package and not sure what's going on under the hood, was thinking maybe should ask here.

In my code, I did the following:
`descartes_core::RobotModelPtr model (new descartes_moveit::IkFastMoveitStateAdapter());`
`const std::string robot_description = "robot_description";`
`const std::string group_name = "manipulator";`
`const std

[2020-12-04 08:50] avwhite commented on #249
I am not sure I 100% percent understand exactly what your issue is, but I know that I spend some time dealing with work object and tool transforms in relation to Descartes and Moveit. I can't remember all the details, but I created this issue: https://github.com/ros-industrial-consortium/descartes/issues/241 at the time.

Maybe this has nothing to do with what you are talking about, but maybe it c

[2020-12-04 09:22] gavanderhoorn commented on #249
I haven't checked, but please be aware that IKFast plugins are generated code. You cannot change the links or locations of frames after the code has been generated.

I'm not entirely sure how things are integrated here, just wanted to draw attention to this fact.

[2020-12-04 20:57] jhu-gh commented on #249
Thanks for your pointer. You mentioned that you used a "IK solver plugin generated by the moveit utility", did you mean "descartes/descartes_moveit/" this folder? which also echoes with @gavanderhoorn 's comment, that IKFast plugins are generated code. Now I'm wondering if I'm using this package the right way. What I did is the following:

1. git clone this descartes repo to my ros workspace and b

[2020-12-07 08:45] avwhite commented on #249
No. The stuff in there is the "moveit adaptor". It allows descartes to tap into moveit, to get information about the robot, the planning scene, and the IK solver.

Moveit itself can use different IK solvers under the hood via IK plugins. It provides a uniform interface to these IK solvers which Descartes can use via the MoveitStateAdaptor (in the descartes/descartes_moveit directory). When creatin

[2020-12-10 17:06] jhu-gh commented on #249
Really appreciate your explanation, it has clarified many things for me!

So I followed the moveit tutorial installed openRave, and generated IKFast plugin for my robot, during the process, it did ask me to specify the base link and end effector link, as expected, at the end, IKFast plugin modified my kinematics.yaml to use the IKFast plugin, instead of the default kinematics solver selected in se

[2020-12-11 09:16] avwhite commented on #249
I have just refreshed my mind a bit on the details. Sorry if I am just repeating myself. At this point I am basically just documenting what I have found for myself.

The ikfast moveit state adapter deals with two sets of transforms. The `ikfast_base_frame` and `ikfast_tool_frame` needs to be consistent with the ones chosen when generating the ikfast solver. These should probably always be the base

[2020-12-13 23:24] jhu-gh commented on #249
Now i understand your problem more, and realized that I did miss some information.
This

and this

have helped to clarify my problems in using descartes. I didn't notice that `tool0_to_tip` and `world_to_base` are calculated and compensated in this package. whereas your problem is more complicated because you have `world -> object`.

I think

is the correct practice to follow to use this package.

[2020-12-18 02:40] #249 closed, assigned to nobody

[2020-12-18 20:32] jbeck28 commented on #213
I realize this was 2 years ago but I am have a seemingly isomorphic problem. Paths planned for my UR5e tend to end up in a joint configuration which causes problems with my tooling. Sometimes the paths plan properly in a configuration where wrist_3 does not point down. Being able to set a first point's joint coordinates would probably cause it to optimize toward the correct solution, but it seems

[2021-02-07 14:12] gy2256 commented on #248
Cool, I am using noetic on Ubuntu 20.04 and will give it a try.

[2021-03-02 06:54] zakimohzani opened #251 "Issue with Niryo One robot"
Hello guys,

Could you provide hints on how to debug this Niryo robot + IKFast +  Descartes? I've marked the trajectory required within this video and it fails 50% of the time https://www.youtube.com/watch?v=7D3o2uG-hKA . The x-axis should follow the trajectory.

I've check the controller errors and they're 0 throughout the time. What else could be the cause of this?

I've also listed the problem

[2021-03-04 01:14] zakimohzani commented on #251
I've tested IKFast based with a moveit demo_launch and there's no issue there. It plans and executes just fine.

[2021-03-04 02:46] zakimohzani commented on #251
So in the quest of debugging this, I made 5 points as shown in this picture and used makeCartesianPoint() instead of makeTolerancedCartesianPoint();

![Screenshot at 2021-03-04 10:19:51](https://user-images.githubusercontent.com/18021169/109903228-7d2ed980-7cd6-11eb-9b9f-9a30434dd76b.png)

And this resulted in the following:
`[ INFO] [1614824132.161127618]: Subscriber found, publishing markers.
[

[2021-03-04 05:38] zakimohzani commented on #251
1. Changed IKFast back to the default KDL.
2. Descartes was complaining about the first point (X-axis pointing up) so I removed it. Now, we have 4 points as shown in the figure below.
4. Works now. It can reach the last point (the end-effector points down).

![Screenshot at 2021-03-04 13:32:49](https://user-images.githubusercontent.com/18021169/109916228-351bb100-7cee-11eb-8e50-78d3099b09f1.png)

[2021-03-18 07:33] zakimohzani commented on #251
Turns out the default precision used in IKFast only resulted in 90% coverage of all solutions. I could only bump it by increasing precision. That resulted in 97% coverage.

I'm not closing this topic yet until I reach 100% but I think maybe its more used under the Niryo / IKFast repos. Will close it when I can actually close it.

[2021-03-26 13:24] gy2256 opened #252 "Issue of linking executable descartes_move"
OS: Ubuntu 20.04
ROS: Noetic

I placed the descartes folder under src folder in my catkin_ws and ran `catkin_make`. I got the following error:

[code]

[2021-03-26 14:08] JeroenDM commented on #252
Maybe you forgot to add it to the `CMakeLists.txt` of your custom package? You can find an example in the [descartes_tutorials](https://github.com/ros-industrial-consortium/descartes_tutorials/blob/master/descartes_tutorials/CMakeLists.txt). Some code snippets from this tutorial below.

Add it to the required packages
[code]

and link against it

[code]

[2021-03-30 01:39] gy2256 commented on #252
Thanks a lot!

[2021-03-30 01:39] #252 closed, assigned to nobody

[2021-04-08 05:36] zakimohzani commented on #251
Managed to skip this issue altogether with TrakIK. Will revisit if it's not fast enough but by then we'd use another robot.

[2021-04-08 05:36] #251 closed, assigned to nobody

[2021-07-02 03:54] benthebear93 commented on #240
Test env  : 18.04 melodic
It was old one but I solve by changing controller.yaml file from
[code]
to

[code]

[2021-07-26 06:19] dbdxnuliba commented on #55
thanks a lot ,can you provide the thesis related to decartes

[2021-07-27 10:39] dbdxnuliba opened #255 "in class DAGSearch , what alogrithm do you use ,DFS or Dijkstra or other alogrithm？"
in class DAGSearch  , what alogrithm do you use ,DFS or Dijkstra or other alogrithm？

[2021-07-28 18:52] JeroenDM commented on #255
A custom implementation of Dijkstra I think (unless it changed and I missed it). You can find more info on this in [this PR](https://github.com/ros-industrial-consortium/descartes/pull/179).

[2021-08-03 08:06] dbdxnuliba commented on #255
thanks a lot , a beautiful work!

[2021-08-04 07:21] dbdxnuliba opened #256 "when I use descartes to move a specf cartesian path ,I found that the robot trajectory will cause collision to the environment"
![image](https://user-images.githubusercontent.com/13350158/128137881-49be01c2-2356-4bca-9faa-0934136073a6.png)

 I has list part of the code of application ：

int main(int argc,char** argv)
{
  ros::init(argc,argv,"plan_and_run");
  ros::AsyncSpinner spinner(2);
  spinner.start();
  moveit::planning_interface::PlanningSceneInterface scene;

  // creating application
  plan_and_run::DemoApplicatio

[2021-08-04 07:24] dbdxnuliba commented on #256
and my question is：
the terminal show:
[ INFO] [1628060841.585946958]: Sparse planner succeeded with 102 planned point and 698 interpolated points in 3.747662 seconds
[ INFO] [1628060841.586019375]: Valid path was found
[ INFO] [1628060841.588509838]: Task 'planPath' completed
[ INFO] [1628060842.421728051]: Ready to take commands for planning group manipulator.
[ INFO] [1628060844.693831500]: Rob

[2021-08-04 08:15] dbdxnuliba commented on #256
the  phenomenon ocurrs when  I use descartes-melodic version  , but that does not appear when I use
  welding_tutorial version  from https://github.com/JeroenDM/descartes
the welding_tutorial version can point out it cannot produce appropraite trajectory ,

 it apper tips:

[ INFO] [1628063958.833328268]: Trajectory with 800 points was generated
[ INFO] [1628063958.975865887]: Task 'generateTrajec

[2021-08-04 08:16] dbdxnuliba commented on #256
I sincerely look forward to your reply

[2021-08-05 02:38] dbdxnuliba opened #257 "when I use descartes to move a specf cartesian path ,I found that the robot will cause collision to the environment"
![image](https://user-images.githubusercontent.com/13350158/128137881-49be01c2-2356-4bca-9faa-0934136073a6.png)

 I has list part of the code of application ：

int main(int argc,char** argv)
{
  ros::init(argc,argv,"plan_and_run");
  ros::AsyncSpinner spinner(2);
  spinner.start();
  moveit::planning_interface::PlanningSceneInterface scene;

  // creating application
  plan_and_run::DemoApplicatio

[2021-08-05 02:45] dbdxnuliba commented on #245
hi ,has you solve the problem

[2021-08-05 02:52] dbdxnuliba commented on #244
hello ,
can you show me the function you modified about  bool MoveitStateAdapter::isInCollision(const std::vector<double>& joint_pose) const
because I has encountered robot-collison with environment
show as the following picture:
![aa](https://user-images.githubusercontent.com/13350158/128283372-83ade36f-8972-494d-8874-2c0a1a6b2902.png)

[2021-08-05 20:51] mrunaljsarvaiya commented on #244
Here's how I modified the function
[code]

[2021-12-16 18:34] gauvindigital commented on #257
I seem to have the same problem, using ROS Noetic, along with collision mesh and primitive... Descartes detects no collision and the robot passes right through the objects.

[2021-12-17 15:50] jrgnicho commented on #257
I would look into the UR3RobotModel implementation and see if the [check_collisions_](https://github.com/ros-industrial-consortium/descartes/blob/26197a993a0eaabe7c207a881fe6bd06177ab5fd/descartes_core/include/descartes_core/robot_model.h#L118) flag is being honored

[2021-12-17 15:56] gauvindigital commented on #257
Hi @jrgnicho , and thanks for your answer! Actually, I'm working on a different robot than the UR3. I tried checking out the branch from https://github.com/ros-industrial-consortium/descartes/pull/237, but I still can't make runtime defined scene object be considered for collision. I read (here https://github.com/ros-industrial-consortium/descartes/issues/238) that yet it is only possible if objec

[2021-12-17 16:02] jrgnicho commented on #257
You may have to override the various [isValid](https://github.com/ros-industrial-consortium/descartes/blob/26197a993a0eaabe7c207a881fe6bd06177ab5fd/descartes_moveit/src/moveit_state_adapter.cpp#L290) methods to do the kind of collision checking that your application needs

[2022-04-22 03:42] anilkir commented on #248
@machinekoder can you remember if you had to make any tweaks to build in noetic?

I am having compilation problems when trying to build on Ubuntu 20.04 with noetic, error is below:

CMake Error at /home/composites/catkin_ws/devel/share/descartes_core/cmake/descartes_coreConfig.cmake:113 (message):
  Project 'descartes_core' specifies '/include' as an include dir, which is
  not found.  It does nei

[2022-06-23 18:08] anilkir commented on #248
For anybody looking for a solution, it was a $PATH issue in my case. After adding to my path the below and rebuilding, issue was resolved. The solution is from https://github.com/ros/class_loader/issues/149#issuecomment-846873861

export PATH="/usr/bin/:/bin/:/sbin:$PATH"

[2022-08-24 15:27] vivekcdavid opened #259 "symbol lookup error"
While trying to use Descartes I am getting a symbol lookup error. The exact error can be seen below, Do you know why I am getting this error? Thanks in advance.

_[ INFO] [1661352051.910503611]: Received request to compute Descartes path
[ INFO] [1661352051.931343040]: Stopping planning scene monitor
[ INFO] [1661352051.935125394]: Starting planning scene monitor
[ INFO] [1661352051.956399368]: Li

[2022-11-29 07:07] dbdxnuliba opened #260 "Why descartes can't consider collision with planning scene in moveit after I has set " model->setCheckCollisions(true)"
Why descartes can't consider collision with planning scene in moveit after I has set " model->setCheckCollisions(true)
this is the result shown by gif:
![col1](https://user-images.githubusercontent.com/13350158/204461748-081db177-f38a-46b7-8684-70b77575bd41.gif)

I use  descartes-melodic-devel branch
Test step:
1.roslaunch descartes_tutorials setup.launch
2.I publish a green box with MotionPlannin